#sticky-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; 
  width: 100%;
  float: right;
}

@media (min-width: 992px) {
  #sticky-container {
    min-height: max(3500px, 200vh);
    width: 350px;
  }
}

.productdetail__discount {
  padding: 0.1875rem 0.5rem;
  background: #feee17;
  color: #cc0000;
  font-size: 1em;
  border-radius: 5px;
  line-height: 1.2em;
  display: none;
}

.product-shop .productdetail__discount {
  display: table;
}

/* PRODUCT USPS */

.product-highlights li img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  display: block;
  margin-right: auto;
  margin-left: auto;
  fill: #000;
}

.product-highlights li {
  text-align: center;
  min-width: 6.5em;
  display: inline-block;
}

.product-highlights li span {
  display: block;
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
  font-size: .9em;
}

.product-highlights li .value {
  height: 35px;
}
