@charset "UTF-8";

/* PAGE */

.page-headercat {
  margin-bottom: 10px;
  border-bottom: 1px solid #e2e4e4;
}

.col-left.sidebar.col-left-first {
  padding-left: 0!important;
}

/* PRODUCT LISTVIEW */

ul.products-grid li.item {
  min-height: 36em;
  margin-bottom: 3em !important;
}

.new-tab-contant-text {
  display: inline-block;
  padding: .5em .7em;
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: .5em;
  background-color: #f3f3f3;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 15%);
}

.new-contant {
  width: 33%;
}

.new-contant p {
  line-height: 2;
}

@media (max-width: 680px) {
  .new-contant {
    width: 100%;
    font-size: 16px;
  }
}

.ctdesc h1,
.ctdesc h2,
.ctdesc h3 {
  padding: 8px 0;
  color: var(--color-blue);
}

#ctdesc .short {
  height: 200px;
  overflow: hidden;
}

#toggle-cat-text {
  margin: .5em 0;
  padding: 0 .5em;
  font-weight: 600;
}

.ctdesc {
  margin-bottom: .7em;
  border: 1px solid transparent;
  clear: both;
  line-height: 1.6em;
}

#ctdesc .read-more {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 3px;
  background-color: #06c;
  color: white;
  margin: 2px;
}

.ctdesc p {
  margin-bottom: 15px;
  text-align: justify;
}

.ctdesc p:last-child {
  margin-bottom: 0;
}

/* TOOLBAR */

.pager,
.pages {
  float: right;
  overflow: hidden;
}

.pager>.count-container,
.pages li {
  float: left;
}

.pager .amount {
  float: left;
  margin: 0 15px 0 0;
  white-space: nowrap;
}

.pager .limiter {
  float: left;
  line-height: 30px;
}

.pager .limiter>label {
  padding-right: 5px;
}

.pager .amount,
.pager .limiter,
.pager .pages {
  margin-bottom: 5px;
  padding-top: 5px;
}

.pages {
  display: inline;
  margin-right: 0;
}

.pages strong {
  position: relative;
  top: 2px;
  display: inline;
  float: left;
  padding-right: 10px;
}

.pages .current {
  font-weight: 700;
}

.pages .current,
.pages .current:hover {
  background-color: #eee;
  cursor: default;
}

.pages .next,
.pages .previous {
  position: relative;
  background-color: transparent;
  color: transparent;
  text-shadow: none;
  font: 0/0 a;
}

.pages .next:before {
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -2px;
  border-right: none;
  border-left: 4px solid #3aacd9;
}

.pages .next:before,
.pages .next:hover:before,
.pages .previous:before,
.pages .previous:hover:before {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  content: '';
}

.pages .next:hover:before {
  border-right: none;
  border-left: 4px solid #246b8f;
}

.pages .previous:before,
.pages .previous:hover:before {
  border-left: none;
}

.pages .previous:before {
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -2px;
  border-right: 4px solid #3aacd9;
}

.pages .previous:hover:before {
  border-right: 4px solid #246b8f;
}

.pages .current,
.pages a {
  display: inline-block;
  padding: 0;
  width: 35px;
  height: 35px;
  border: 0;
  color: #565d60;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-size: 15px;
  line-height: 35px;
  text-decoration: none;
}

.pager>.count-container,
.pages li  {
  float: left;
}

.toolbar {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 0 0;
  border-top: 0 solid #e9e9e9;
}

.pager-no-toolbar {
  margin-bottom: 10px;
}

.pager-no-toolbar~.pager-no-toolbar {
  margin-top: 10px;
}

.pager,
.toolbar,
.top_toolbar .toolbar {
  font-size: 12px;
  line-height: 25px;
}

.top_toolbar .toolbar {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0 solid #dddbd5;
}

.sorter {
  float: left;
  margin-bottom: 5px;
  padding-top: 5px;
}

.sorter label,
.sorter>.sort-by {
  float: left;
  margin-right: 5px;
}

.pager .limiter>label:after,
.sorter label:after {
  content: ':';
}

.sorter>.sort-by {
  height: 30px;
}

.sorter>.sort-by .sort-by-switcher {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.sorter>.sort-by .sort-by-switcher--asc {
  background-position: 4px -545px;
}

.sorter>.sort-by .sort-by-switcher--asc:hover {
  background-position: -46px -542px;
}

.sorter>.sort-by .sort-by-switcher--desc {
  background-position: 4px -567px;
}

.sorter>.sort-by .sort-by-switcher--desc:hover {
  background-position: -46px -567px;
}

.sorter>.view-mode {
  float: right;
}

.sorter>.view-mode .grid,
.sorter>.view-mode .list {
  float: left;
  width: 30px;
  height: 30px;
}

.sorter>.view-mode .grid {
  margin-right: 5px;
  background-position: 8px -492px;
}

.sorter>.view-mode a.grid:hover,
.sorter>.view-mode strong.grid {
  background-position: -42px -492px;
}

.sorter>.view-mode .list {
  background-position: 11px -517px;
}

.sorter>.view-mode a.list:hover,
.sorter>.view-mode strong.list {
  background-position: -39px -517px;
}

.selwrapper {
  position: relative;
  float: left;
  overflow: hidden;
  border: 1px solid black;
}

.selwrapper::after {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  padding: .5em .5em .5em 1.5em;
  background: 0 0;
  content: "";
  pointer-events: none;
}

div.main div.col-main div.category-products div.toolbar div.sorter div.sort-by select {
  padding: 0 .5em;
  width: 118px;
  border: medium;
}

div.main div.col-main div.category-products div.toolbar .limiter select {
  padding: 6px 10px 8px;
  width: 80px;
  height: 32px;
  background-color: #fff;
  line-height: 1.4em;
}

.toolbar-bottom .sort-by,
.top_toolbar .pages {
  display: none;
}

.price-box .minimal-price-link {
  display: none;
}

/* MISC */

@media (max-width: 61.9em) {
  ul.category-grid li strong {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  ul.category-grid {
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    grid-column-gap: 15px;
    -ms-grid-columns: calc(50% - 7.5px) 15px calc(50% - 7.5px);
    grid-template-rows: auto auto;
    grid-row-gap: 15px;
    -ms-grid-rows: auto 15px auto
  }
}

@media (min-width: 992px) {
  ul.category-grid {
    grid-template-columns: calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px);
    grid-column-gap: 15px;
    -ms-grid-columns: calc(33% - 1em) 1em calc(33% - 1em) 1em calc(33% - 1em);
    grid-template-rows: auto;
    grid-row-gap: 15px;
    -ms-grid-rows: auto
  }
  ul.category-grid li {
    height: 220px;
  }
  ul.category-grid li a {
    flex-flow: column nowrap;
    padding-bottom: 40px;
  }
  ul.category-grid li strong {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 3.5em;
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-align: center;
    /* Firefox */
    display: -moz-box;
    -moz-box-align: center;
    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-align: center;
  }
}

@media (min-width: 1200) {
  ul.category-grid {
    grid-template-columns: calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px);
    grid-column-gap: 15px;
    -ms-grid-columns: calc(25% - 11.25px) 15px calc(25% - 11.25px) 15px calc(25% - 11.25px) 15px calc(25% - 11.25px);
    grid-template-rows: auto;
    grid-row-gap: 15px;
    -ms-grid-rows: auto;
  }
  
  .new-tab-contant-text {
    margin: 0 1em;
  }
}
