@charset "UTF-8";

@media all {
  .cart-forms .discount,
  .cart-forms .giftcard,
  .cart-forms .shipping{
    margin-bottom: 20px;
  }

  #postcode {
    width: 100%;
  }

  div.cart.display-single-price ul.messages {
    margin-top: 10px;
  }

  div.wrapper div.page td.product-cart-info input.input-text.qty {
    position: relative;
    bottom: 3px;
    margin-top: 11px;
    height: 21px;
  }

  .pgcrtleft #shopping-cart-table {
    float: none;
  }

  .pgcrtleft {
    width: 700px;
  }

  div.pgcrtleft td.product-cart-actions .input-text.qty {
    margin-bottom: 5px;
    width: 40px;
    height: 25px;
  }

  .messages .success-msg li {
    border: 1px solid #17a249;
    border-left: 5px solid #17a249;
    background-color: #eff5ea;
    color: #000;
  }

  .button.btn-proceed-checkout.btn-checkout {
    margin-top: 15px;
  }

  .clzulres li {
    min-width: 222px !important;
  }

  .pgcrtleft {
    float: left;
    background-color: #fff;
  }
  
  .pgcrtright {
    margin: 2em 0;
    width: 100%;
  }
  
  .pgcrtright div.cart-totals-wrapper div.cart-totals ul.checkout-types.bottom {
    float: none;
  }
  
  .pgcrtright #shopping-cart-totals-table tfoot tr td {
    padding-right: 15px !important;
    line-height: 2;
  }
  
  .pgcrtright #shopping-cart-totals-table tbody tr td {
    padding-right: 15px;
  }

  .pgcrtright .button.btn-proceed-checkout.btn-checkout {
    display: block !important;
    float: none;
    margin: 0 auto;
    margin-top: 25px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 92%;
  }
  
  .pgcrtrightinner {
    padding: 1em;
    border: 1px solid #ccc;
    background: #f9f9f9 0 0;
    border-radius: 5px;
  }
  
  .pgcrtleft {
    width: 100%;
  }
}

/* Bootstrap Large */
@media (max-width: 991.8px) {
  checkout-cart-index .pgcrtright {
    width: 100%;
  }
}

/* Bootstrap X-Large */
@media (min-width: 1200px) {
  .pgcrtright {
    float: right;
    width: 35%;
  }
  
  .pgcrtleft {
    width: 65%;
    padding-right: 2em;
  }
  
  .pgcrtright {
    margin: 0;
  }
}
