<?xml version="1.0"?>
<config>
    <modules>
        <Cloud_InvoiceGenerator>
            <version>0.1.0</version>
        </Cloud_InvoiceGenerator>
    </modules>
    <global>
        <models>
            <cloudinvoiceinvoice>
                <class>Cloud_InvoiceGenerator_Model</class>
            </cloudinvoiceinvoice>
            <cloudinvoiceorder>
                <class>Cloud_InvoiceGenerator_Model</class>
            </cloudinvoiceorder>
            <cloudinvoicepurchaseorder>
                <class>Cloud_InvoiceGenerator_Model</class>
            </cloudinvoicepurchaseorder>
            <cloudinvoicestatuses>
                <class>Cloud_InvoiceGenerator_Model</class>
            </cloudinvoicestatuses>
            <cloudinvoicecreditmemo>
                <class>Cloud_InvoiceGenerator_Model</class>
            </cloudinvoicecreditmemo>
            <cloudinvoiceshoptaxes>
                <class>Cloud_InvoiceGenerator_Model</class>
            </cloudinvoiceshoptaxes>
            <cloudinvoiceshoppaymentmethods>
                <class>Cloud_InvoiceGenerator_Model</class>
            </cloudinvoiceshoppaymentmethods>
            <cloudinvoiceshopcategories>
                <class>Cloud_InvoiceGenerator_Model</class>
            </cloudinvoiceshopcategories>
            <cloudinvoiceshopproducts>
                <class>Cloud_InvoiceGenerator_Model</class>
            </cloudinvoiceshopproducts>
        </models>
        <helpers>
            <cloudinvoicegenerator>
                <class>Cloud_InvoiceGenerator_Helper</class>
            </cloudinvoicegenerator>
        </helpers>
    </global>
</config>
