# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# PhpStorm
.idea

# Openmage config
/app/etc/local.xml

# CM Redis
/app/code/community/Cm
/app/etc/modules/Cm_RedisSession.xml
/lib/Credis

# Add a base setup for running unit Tests with code coverage and send them to SonarCloud
# https://github.com/OpenMage/magento-lts/pull/1836
/dev/testfield
/dev/tests/clover.xml
/dev/tests/crap4j.xml
/dev/tests/junit.xml

# Add Gitpod online IDE config
# https://github.com/OpenMage/magento-lts/pull/1836
/dev/gitpod/docker-magento
/dev/gitpod/.env

# Add development environment setup files and README
# https://github.com/OpenMage/magento-lts/pull/1012
/dev/openmage/docker-magento
/dev/openmage/.env
/dev/tests/functional/generated
/dev/tests/functional/vendor

/media/*
!/media/.htaccess
!/media/custom_options/.htaccess
!/media/customer/.htaccess
!/media/dhl/logo.jpg
!/media/downloadable/.htaccess

/var/*
!/var/.htaccess

# composer
/vendor

# ddev
.ddev/config.yaml

# scss-cache
/skin/*/*/*/scss/.sass-cache

# .phar (n98-magerun, ...)
*.phar

# PHP-CS-Fixer cache
.php-cs-fixer.cache

# Ignore custom config files
.php-cs-fixer*
!.php-cs-fixer.dist.*

.phpcs*.xml
!.phpcs*.xml.dist

phpstan*.neon
!phpstan.dist.*.neon

# dev scripts loaded via composer
/shell/update-copyright.php
/shell/translations.php

#########################################
# CHEFSTORE.NL
#########################################

# FILES

.DS_Store
._.DS_Store
._*
/sitemap_*.xml
/google_shopping_*.xml*
/bridge_*.php
/google*.html
/BingSiteAuth.xml
/nohup.out
/nohup*.out
/algolia_*.json
/maintenance.flag

# DIRS

# External assets downloaded to local
/js/ext-*
/skin/frontend/rwd/external/
!/skin/frontend/rwd/external/fontawesome

# Ignore downloader cache and configuration files
/downloader/.cache/
/downloader/cache.cfg
/downloader/connect.cfg

/.modman/*/.git

# This is tricky to get right
# Here we cancel any /media rule until now and re-implement the openmage rules:
!/media/*
!/media/.htaccess
!/media/custom_options/.htaccess
!/media/customer/.htaccess
!/media/dhl/logo.jpg
!/media/downloadable/.htaccess
# ..and then our own rules:
/media/amfeed
/media/amfeed
/media/cache
/media/attachment
/media/productattachment
/media/import
/media/sooqr
/media/qquoteadv
/media/catalog

!/media/catalog/category/category_placeholder.png
!/media/static
!/media/static/**
!/media/wysiwyg
!/media/wysiwyg/**
!/media/wysiwyg/brands

# Store Manager
/tmp

# Biller webhook
/biller-webhook-errors.jsonl
/biller-webhook.jsonl

/.idea
/.well-known/
