# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# PhpStorm
.idea

# Openmage config
/app/etc/local.xml

# Add a base setup for running unit Tests with code coverage and send them to SonarCloud
# https://github.com/OpenMage/magento-lts/pull/1836
/dev/testfield
/dev/tests/clover.xml
/dev/tests/crap4j.xml
/dev/tests/junit.xml

# Add Gitpod online IDE config
# https://github.com/OpenMage/magento-lts/pull/1836
/dev/gitpod/docker-magento
/dev/gitpod/.env

# Add development environment setup files and README
# https://github.com/OpenMage/magento-lts/pull/1012
/dev/openmage/docker-magento
/dev/openmage/.env
/dev/openmage/Caddyfile
/dev/tests/functional/generated
/dev/tests/functional/vendor

/media/*
!/media/.htaccess
!/media/custom_options/.htaccess
!/media/customer/.htaccess
!/media/dhl/logo.jpg
!/media/downloadable/.htaccess

/var/*
!/var/.htaccess

# composer
/vendor

# scss-cache
/skin/*/*/*/scss/.sass-cache

# .phar (n98-magerun, ...)
*.phar

# PHP-CS-Fixer cache
.php-cs-fixer.cache

# Ignore custom config files
.php-cs-fixer*
!.php-cs-fixer.dist.*

.phpcs*.xml
!.phpcs*.xml.dist

# PhpStan
.phpstan.cache
.phpstan*.neon
phpstan*.neon
!.phpstan.dist.neon
!.phpstan.dist.*.neon

# PhpUnit
tests/coverage
tests/logging
.phpunit.result.cache
phpunit.xml
!phpunit.xml.dist

# build
/build

# dev scripts loaded via composer
/shell/update-copyright.php
/shell/translations.php

# DDEV
.ddev/config.yaml
.ddev/.sampleData

#########################################
# DHH ADDITIONS
#########################################

# FILES
/.cachetool.yaml
.DS_Store
._.DS_Store
._*
/sitemap_watdachtjezelf*.xml
/google_shopping_vijfbatmansymbol.*
/protected/*.xml
/protected/*.zip
/bridge_*.php
/google*.html
/BingSiteAuth.xml
/nohup.out
/nohup*.out
/algolia_*.json
/maintenance.flag
/maintenance.ip
/js/elastic-apm-rum.umd.min.js.map

# DIRS
/js/ext-*
/skin/frontend/rwd/external/
!/skin/frontend/rwd/external/fontawesome
/.modman/*/.git
/.idea/
/.phpstorm.meta.php
/.well-known/acme-challenge/
/skin/assets/

# FIRST UNIGNORE /MEDIA/*, THEN IGNORE MOST AGAIN
!/media/*
/media/amfeed
/media/cache
/media/attachment
/media/productattachment
/media/import
/media/sooqr
/media/qquoteadv
/media/catalog
/media/tmp
/media/dhh
/media/wysiwyg/*

# BILLER WEBHOOK
/biller-webhook-errors.jsonl
/biller-webhook.jsonl

# FRESHDESK WEBHOOK
/freshdesk-*.ndjson

# GENERATED CONFIGURATIONS
/etc/*-local.ini
/*.bak-*
/_user.ini
/php.cmd.ini
/etc/php.cmd.ini
/.php-version
/.php-ini

# UNIGNORE IMPORTANT THINGS WHEREVER THEY ARE
!.htaccess
!_htaccess
!.gitignore

######################################################
# Symlinks -- Watch out to not ignore core hacks!!
######################################################

/app/code/community/Cm
/lib/Credis

######################################################
# UNIGNORE ALL COREHACKED FILES TO ENSURE GIT TRACKING
######################################################

# diff -qr . vendor/openmage/magento-lts
# diff -qr vendor/openmage/magento-lts .

# grep -ril "DHH" app/*.* | sort -f
!/app/Mage.php

# grep -ril "DHH" app/locale | sort -f
!/app/locale/nl_NL/template/email/aoe_scheduler/cron_error.html
!/app/locale/nl_NL/template/email/qquoteadv/qquoteadv_accepted.html
!/app/locale/nl_NL/template/email/qquoteadv/qquoteadv_request_details.html

# grep -ri -l DHH app/code/core/ | sort -f
# diff -qr app/code/core/Mage/ vendor/openmage/magento-lts/app/code/core/Mage/
!/app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Crosssell.php
!/app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Related.php
!/app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Upsell.php
!/app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Form/Account.php
!/app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Abstract.php
!/app/code/core/Mage/Adminhtml/Model/Search/Catalog.php
!/app/code/core/Mage/Adminhtml/Model/Search/Customer.php
!/app/code/core/Mage/Adminhtml/Model/Search/Order.php
!/app/code/core/Mage/Api/Model/Server/Wsi/Adapter/Soap.php
!/app/code/core/Mage/Catalog/Model/Category.php
!/app/code/core/Mage/Core/Model/Resource/Session.php
!/app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
!/app/code/core/Mage/Customer/Model/Customer.php
!/app/code/core/Mage/GoogleAnalytics/Block/Ga.php
!/app/code/core/Mage/Page/Block/Html/Head.php
!/app/code/core/Mage/Sales/etc/config.xml
!/app/code/core/Mage/Sales/Model/Resource/Collection/Abstract.php

# UNCLEAR:
!/app/code/core/Mage/Core/Controller/Varien/Router/Standard.php
!/app/code/core/Mage/Catalog/Model/Layer/Filter/Decimal.php
!/app/code/core/Mage/Core/Model/App.php

# grep -ri -l DHH app/code/community/ | sort -f
!/app/code/community/Afterpay/Afterpay/Block/Portfolios/Checkout/Form.php
!/app/code/community/Afterpay/Afterpay/controllers/Adminhtml/AfterpayController.php
!/app/code/community/Afterpay/Afterpay/Helper/Data.php
!/app/code/community/Afterpay/Afterpay/Model/Abstract.php
!/app/code/community/Afterpay/Afterpay/Model/Api/Abstract.php
!/app/code/community/Afterpay/Afterpay/Model/Request/Abstract.php
!/app/code/community/Afterpay/Afterpay/Model/Request/Payment/Methods/Available.php
!/app/code/community/Afterpay/Afterpay/Model/Response/Abstract.php
!/app/code/community/Aoe/Scheduler/Model/Schedule.php
!/app/code/community/AW/Blog/Block/Blog.php
!/app/code/community/Codnitive/Extifcon/Model/Core/Layout.php
!/app/code/community/Codnitive/Sidenav/Block/Navigation.php
!/app/code/community/FireGento/DynamicCategory/Model/Entity/Attribute/Backend/Rule.php
!/app/code/community/Geissweb/InvoiceAutoSend/Model/Observer.php
!/app/code/community/Geissweb/InvoiceAutoSend/Model/System/Config/Activepm.php
!/app/code/community/Guidance/Cachebuster/Model/Parser.php
!/app/code/community/Magmodules/Channable/Helper/Data.php
!/app/code/community/Magmodules/Channable/Model/Channable.php
!/app/code/community/Magmodules/Sooqr/Block/Search.php
!/app/code/community/Magmodules/Sooqr/Helper/Data.php
!/app/code/community/Magmodules/Sooqr/Model/Adminhtml/System/Config/Backend/Design/Extra.php
!/app/code/community/Magmodules/Sooqr/Model/Adminhtml/System/Config/Backend/Design/Filter.php
!/app/code/community/Magmodules/Sooqr/Model/Sooqr.php
!/app/code/community/Mestrona/ForwardToConfigurable/Model/Observer.php
!/app/code/community/Noble/AdminOrderGrid/Block/Sales/Order/Grid.php
!/app/code/community/Noble/AdminOrderGrid/Block/Sales/Order/Grid/Renderer/Paymentmethod.php
!/app/code/community/Ophirah/CustomProducts/Model/Observer.php
!/app/code/community/Ophirah/Qquoteadv/Block/Adminhtml/Qquoteadv/Edit/Tab/Product.php
!/app/code/community/Ophirah/Qquoteadv/Block/Qquoteadv/View.php
!/app/code/community/Ophirah/Qquoteadv/Block/Renderers/Abstract.php
!/app/code/community/Ophirah/Qquoteadv/controllers/Adminhtml/QquoteadvController.php
!/app/code/community/Ophirah/Qquoteadv/etc/wsdl.xml
!/app/code/community/Ophirah/Qquoteadv/Helper/Data.php
!/app/code/community/Ophirah/Qquoteadv/Helper/Extrafield.php
!/app/code/community/Ophirah/Qquoteadv/Helper/License.php
!/app/code/community/Ophirah/Qquoteadv/Helper/Licensechecks.php
!/app/code/community/Ophirah/Qquoteadv/Helper/Logging.php
!/app/code/community/Ophirah/Qquoteadv/Model/Client.php
!/app/code/community/Ophirah/Qquoteadv/Model/Pdf/Qquote.php
!/app/code/community/Ophirah/Qquoteadv/Model/Qqadvcustomer.php
!/app/code/community/Ophirah/Qquoteadv/Model/Qqadvproduct.php
!/app/code/community/Psc/Paysafecash/Model/Cpay.php
!/app/code/community/Scommerce/UpdateEmail/Block/Sales/Order/View/Info.php
!/app/code/community/Scommerce/UpdateEmail/Block/Sales/Order/View/Info.php_ambackup
!/app/code/community/TM/Core/Model/Notification/Feed.php
!/app/code/community/Varien/Autoload.php
!/app/code/community/Aoe/Scheduler/Helper/GracefulDead.php
!/app/code/community/Aoe/Scheduler/Model/ProcessManager.php
!/app/code/community/Aoe/Scheduler/Model/ScheduleManager.php
!/app/code/community/Aoe/Scheduler/Model/Task/Test.php
!/app/code/community/Pay/Payment/composer.json
!/app/code/community/Pay/Payment/composer.lock

# grep -ri -l DHH app/code/local/ | sort -f
!/app/code/local/Amasty/Base/Model/Feed.php
!/app/code/local/Amasty/Feed/Model/Mysql4/Product/Collection.php
!/app/code/local/Amasty/Feed/Model/Product/Collection.php
!/app/code/local/Amasty/Feed/Model/Profile.php
!/app/code/local/Amasty/Shopby/Block/Catalog/Layer/Filter/Attribute.php
!/app/code/local/Amasty/Shopby/Block/Catalog/Layer/View.php
!/app/code/local/Amasty/Shopby/Helper/Data.php
!/app/code/local/Amasty/Shopby/Model/Catalog/Layer/Filter/Category.php
!/app/code/local/Amasty/Shopby/Model/Catalog/Layer/Filter/Decimal.php
!/app/code/local/Amasty/Shopby/Model/Observer.php
!/app/code/local/Amasty/Shopby/Model/Url/Builder.php
!/app/code/local/Amasty/Shopby/Model/Value.php
!/app/code/local/Anowave/Package/Helper/Data.php
!/app/code/local/Anowave/Sort/Block/Catalog/Category/Tab/Product.php
!/app/code/local/Anowave/Sort/Block/Image.php
!/app/code/local/Anowave/Sort/Model/Observer.php
!/app/code/local/AW/All/Block/Jsinit.php
!/app/code/local/AW/All/Model/Cron.php
!/app/code/local/AW/All/Model/Feed/Extensions.php
!/app/code/local/AW/All/Model/Feed/Updates.php
!/app/code/local/AW/Autorelated/Block/Blocks/Abstract.php
!/app/code/local/AW/Autorelated/controllers/Adminhtml/Awautorelated/BlocksgridController.php
!/app/code/local/DeHeerHoreca/Fpc/Helper/Data.php
!/app/code/local/DeHeerHoreca/Fpc/Model/Observer.php
!/app/code/local/DeHeerHoreca/Fpc/Model/Observer/Clean.php
!/app/code/local/DeHeerHoreca/Util/Adminhtml/Block/Catalog/Product/Grid.php
!/app/code/local/DeHeerHoreca/Util/etc/config.xml
!/app/code/local/DeHeerHoreca/Util/Helper/strftime_replacement.php
!/app/code/local/DeHeerHoreca/Util/Helper/Util.php
!/app/code/local/DeHeerHoreca/Util/Model/Observer.php
!/app/code/local/DeHeerHoreca/Util/Model/Resource/Product/Collection.php
!/app/code/local/Geissweb/Euvatgrouper/Helper/Customer.php
!/app/code/local/Geissweb/Euvatgrouper/Helper/Data.php
!/app/code/local/Geissweb/Euvatgrouper/Model/Observer.php
!/app/code/local/Geissweb/Euvatgrouper/Model/Tax/Config.php
!/app/code/local/Geissweb/Euvatgrouper/Model/Validation/Abstract.php
!/app/code/local/Mage/Adminhtml/Block/Catalog/Product/Helper/Form/Price.php
!/app/code/local/Mage/Adminhtml/Block/Sales/Order/Grid.php
!/app/code/local/Mage/Adminhtml/Block/Widget/Grid.php
!/app/code/local/Mage/Catalog/Block/Product/View/Attributes.php
!/app/code/local/Mage/Checkout/Block/Cart/Crosssell.php
!/app/code/local/Mage/ConfigurableSwatches/Helper/Mediafallback.php
!/app/code/local/Mage/Newsletter/Model/Subscriber.php
!/app/code/local/Mage/Payment/Model/Method/Banktransfer.php
!/app/code/local/Mage/Payment/Model/Method/Purchaseorder.php
!/app/code/local/Mage/Sales/Model/Order/Pdf/Abstract.php
!/app/code/local/Mage/Sales/Model/Order/Pdf/Invoice.php
!/app/code/local/MagePal/GoogleTagManager/Block/Tm.php
!/app/code/local/MagicToolbox/MagicScroll/core/magictoolbox.params.class.php
!/app/code/local/Magmodules/Kiyoh/Model/Stats.php
!/app/code/local/Profitmetrics/MagentoIntegration/controllers/Adminhtml/ProfitmetricsController.php
!/app/code/local/Profitmetrics/MagentoIntegration/Helper/Bot.php
!/app/code/local/Profitmetrics/MagentoIntegration/Model/Order/Service.php
!/app/code/local/TM/CheckoutFields/etc/wsdl.xml
!/app/code/local/TM/FireCheckout/etc/wsdl.xml
!/app/code/local/TM/RichSnippets/Block/Product.php

# grep -ril "DHH" app/design/frontend/base app/design/frontend/rwd/default/ app/design/adminhtml/default/default | sort -f
!/app/design/adminhtml/base/default/template/ec/system/google/auth.phtml
!/app/design/adminhtml/default/default/template/sales/order/create/comment.phtml
!/app/design/adminhtml/default/default/template/tm/firecheckout/sales/order/create/data.phtml
!/app/design/adminhtml/default/default/template/widget/grid.phtml.inprogress
!/app/design/adminhtml/default/dhh/layout/deheerhoreca_fpc/deheerhoreca_fpc.xml
!/app/design/adminhtml/default/dhh/layout/dhh.xml
!/app/design/adminhtml/default/dhh/layout/m.xml
!/app/design/adminhtml/default/dhh/template/deheerhoreca_fpc/deheerhoreca_fpc.phtml
!/app/design/adminhtml/default/dhh/template/sales/order/view/items/renderer/default.phtml
!/app/design/frontend/base/default/template/payment/info/pdf/default.phtml
!/app/design/frontend/base/default/template/profitmetrics/magentointegration/skin_js_inclusion.phtml
!/app/design/frontend/rwd/default/template/checkout/onepage/shipping.phtml

# grep -ril "DHH" dev/  etc/ errors/ js/ lib/ protected/ skin/ shell/ | sort -f
# grep -il  "DHH" media/* | sort -f
# diff -qr app/code/core/Mage/ vendor/openmage/magento-lts/app/code/core/Mage/
!/favicon.ico
!/index.php
!/js/amasty/amshopby/amshopby-ajax.js
!/js/amasty/amshopby/amshopby.js
!/js/aw_searchautocomplete/main.js
!/shell/sooqr.php
!/skin/frontend/rwd/dhh/css/magiczoomplus/magiczoomplus.css
!/skin/frontend/rwd/dhh/css/magiczoomplus/magiczoomplus.module.css
!/skin/frontend/rwd/dhh/js/app.js
!/skin/frontend/rwd/dhh/tm/firecheckout/js/components/order-review.js
!/shell/abstract.php
!/shell/indexer.php

##################################################
# IGNORE SYMLINKED DHH FORKS
##################################################

# deheerhoreca/Aoe_BlackHoleSession
/app/code/community/Aoe/BlackHoleSession
/app/etc/modules/Aoe_BlackHoleSession.xml

# deheerhoreca/Magento-SMTP-Pro-Email-Extension
/app/etc/modules/Aschroder_SMTPPro.xml
/app/code/local/Aschroder/SMTPPro
/app/design/adminhtml/default/default/template/smtppro
/app/locale/en_US/Aschroder_SMTPPro.csv
/app/locale/de_DE/Aschroder_SMTPPro.csv
/app/locale/es_ES/Aschroder_SMTPPro.csv
/app/locale/fr_FR/Aschroder_SMTPPro.csv
/app/locale/nl_NL/Aschroder_SMTPPro.csv
/app/locale/pt_BR/Aschroder_SMTPPro.csv
/app/locale/ru_RU/Aschroder_SMTPPro.csv
/app/locale/tr_TR/Aschroder_SMTPPro.csv

# deheerhoreca/Aoe_Profiler

# deheerhoreca/Cm_RedisSession
/app/code/community/Cm/RedisSession
/app/etc/modules/Cm_RedisSession.xml

/app/code/community/FireGento/AdminMonitoring
/app/etc/modules/FireGento_AdminMonitoring.xml
/app/design/adminhtml/default/default/layout/firegento_adminmonitoring.xml
/app/design/adminhtml/default/default/template/firegento/adminmonitoring
/app/locale/de_DE/FireGento_AdminMonitoring.csv

/app/etc/modules/Sheep_Debug.xml
/app/code/community/Sheep/Debug
/app/design/frontend/base/default/layout/sheep_debug.xml
/app/design/frontend/base/default/template/sheep_debug
/skin/frontend/base/default/sheep_debug
/app/design/adminhtml/default/default/layout/sheep_debug.xml
/app/design/adminhtml/default/default/template/sheep_debug
/skin/adminhtml/default/default/sheep_debug

/app/code/local/MM/MonacoEditor
/js/monacoeditor
/app/design/adminhtml/default/default/layout/mm/monacoeditor.xml
/app/design/adminhtml/default/default/template/mm/monacoeditor
/app/etc/modules/MM_MonacoEditor.xml
/app/code/local/MM/CmsContentFileMode
/app/design/adminhtml/default/default/layout/mm/wysiwygtemplate.xml
/app/design/adminhtml/default/default/template/mm/cmscontentfilemode/tinymcetemplatelist.phtml
/app/design/frontend/base/default/layout/mm/tailwindcss.xml
/lib/tailwindcss/tailwind.config.js
/lib/tailwindcss/tailwindcss
/app/etc/modules/MM_CmsContentFileMode.xml
/app/etc/modules/Aoe_Profiler.xml
/app/code/community/Aoe/Profiler
/app/code/community/Varien/Profiler.php
/app/code/community/Zend/Db/Profiler.php
/skin/adminhtml/default/default/aoe_profiler
/app/design/adminhtml/default/default/layout/aoe_profiler
/app/design/adminhtml/default/default/template/aoe_profiler
/app/code/community/Fballiano/CategorySortDirection
/app/etc/modules/Fballiano_CategorySortDirection.xml
/app/design/frontend/base/default/template/pay/payment
/app/design/adminhtml/base/default/template/pay/payment
/media/pay_payment/logo.png
/app/etc/modules/Pay_Payment.xml
/app/locale/nl_NL/Pay_Payment.csv
/app/locale/en_US/Pay_Payment.csv
/app/locale/it_IT/Pay_Payment.csv
