#--------------------------#
# Magento Default Files    #
#--------------------------#

/app/etc/local.xml

/media/*
!/media/.htaccess

!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

!/media/wysiwyg/brands

/var/*
!/var/.htaccess
!/var/aoe_profiler.*

!/var/package
/var/package/*
!/var/package/*.xml

/tmp/*
/downloader/connect.cfg

# DHH

/sitemap.xml

/downloader/.cache/
/downloader/cache.cfg
/downloader/connect.cfg

bridge_*.php

.DS_Store
._.DS_Store
._*

/skin/frontend/rwd/external/

# Ignore downloader cache and configuration files
/downloader/.cache/
/downloader/cache.cfg
