# OPENMAGE
 *    *  *  *  *    ! test -e ~/workspace/openmage/maintenance.flag && cd ~/workspace/openmage && /bin/bash ./scheduler_cron.sh --mode always  1>>${OLOG} 2>>${OERR}
 *    *  *  *  *    ! test -e ~/workspace/openmage/maintenance.flag && cd ~/workspace/openmage && /bin/bash ./scheduler_cron.sh --mode default 1>>${OLOG} 2>>${OERR}
59   23  *  *  *    /bin/bash ~/workspace/openmage/shell/cron-logrotate.sh                1>>${OLOG} 2>&1
55   21  *  *  *    /bin/bash ~/workspace/openmage/shell/cron-clean-mysql.sh              1>>${OLOG} 2>>${OERR}
00   01  *  *  0    /bin/bash ~/workspace/openmage/shell/cron-download-external-assets.sh 1>>${OLOG} 2>>${OERR}
30   02  *  *  *    /bin/bash ~/workspace/openmage/shell/cron-clean-redis.sh              1>>${OLOG} 2>>${OERR}
29   05  *  *  *    /bin/bash ~/workspace/openmage/shell/cron-rebuild-cache.sh            1>>${OLOG} 2>>${OERR}
30   05  *  *  *    /bin/bash ~/workspace/openmage/shell/cron-reindexer.sh                1>>${OLOG} 2>>${OERR}
02  */2  *  *  *    /bin/bash ~/workspace/openmage/shell/cron-reindex-prices.sh           1>>${OLOG} 2>>${OERR}
30   04  *  *  *    /bin/bash ~/workspace/openmage/shell/cron-reindex-dynamiccategory.sh  1>>${OLOG} 2>>${OERR}
00   05  *  *  *    /bin/bash ~/workspace/openmage/shell/cron-sooqr.sh                    1>>${OLOG} 2>>${OERR}
00   22  *  *  0    /bin/bash ~/workspace/openmage/shell/cron-resave-products.sh          1>>${OLOG} 2>>${OERR}
