<?xml version="1.0"?>
<config>
    <tabs>
        <tm_seosuite>
            <label>TM Seo Suite</label>
            <sort_order>193</sort_order>
        </tm_seosuite>
    </tabs>
    <!-- <sections>
        <tm_seosuite translate="label" module="tm_seocore">
            <label>Sitemap</label>
            <tab>tm_seosuite</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1900</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
        </tm_seosuite>
    </sections> -->
</config>
