<?xml version="1.0"?>
<config>
  <modules>
    <DeHeerHoreca_Util>
      <version>0.1.0</version>
    </DeHeerHoreca_Util>
  </modules>
  <global>
    <helpers>
      <deheerhoreca_util>
        <class>DeHeerHoreca_Util_Helper</class>
      </deheerhoreca_util>
    </helpers>
    <models>
      <deheerhoreca_util>
        <class>DeHeerHoreca_Util_Model</class>
      </deheerhoreca_util>
    </models>
    <events>
      <catalog_product_edit_action>
        <observers>
          <DeHeerHoreca_Util_Model_Observer>
            <type>singleton</type>
            <class>deheerhoreca_util/observer</class>
            <method>updateProductOnEdit</method>
          </DeHeerHoreca_Util_Model_Observer>
        </observers>
      </catalog_product_edit_action>
      <catalog_product_save_before>
        <observers>
          <DeHeerHoreca_Util_Model_Observer>
            <type>singleton</type>
            <class>deheerhoreca_util/observer</class>
            <method>updateProductBeforeSave</method>
          </DeHeerHoreca_Util_Model_Observer>
        </observers>
      </catalog_product_save_before>
      <catalog_product_save_after>
        <observers>
          <DeHeerHoreca_Util_Model_Observer>
            <type>singleton</type>
            <class>deheerhoreca_util/observer</class>
            <method>updateProductAfterSave</method>
          </DeHeerHoreca_Util_Model_Observer>
        </observers>
      </catalog_product_save_after>
      
      <!-- Implement a simple wait after sending an email to not cross Gmail limits -->
      <email_send_after>
        <observers>
          <DeHeerHoreca_Util_Model_Observer>
            <class>deheerhoreca_util/observer</class>
            <method>emailSendAfter</method>
          </DeHeerHoreca_Util_Model_Observer>
        </observers>
      </email_send_after>
      
      <!-- Add data to GA4 events -->
      <googleanalytics_ga4_send_data_before>
        <observers>
          <DeHeerHoreca_Util_Model_Observer>
            <class>deheerhoreca_util/observer</class>
            <method>alterGa4Data</method>
          </DeHeerHoreca_Util_Model_Observer>
        </observers>
      </googleanalytics_ga4_send_data_before>
      
    </events>
    <blocks>
      <adminhtml>
        <rewrite>
          <catalog_product_grid>DeHeerHoreca_Util_Adminhtml_Block_Catalog_Product_Grid</catalog_product_grid>
          <!-- <up_sell_product_grid>DeHeerHoreca_Util_Adminhtml_Product_Edit_Tab_Upsell</up_sell_product_grid> -->
        </rewrite>
      </adminhtml>
    </blocks>
  </global>
  <frontend>
    <events>
      <catalog_controller_product_view>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </catalog_controller_product_view>
      <controller_front_send_response_after>
        <observers>
          <DeHeerHoreca_Util_Model_Observer>
            <type>singleton</type>
            <class>deheerhoreca_util/observer</class>
            <method>logClick</method>
          </DeHeerHoreca_Util_Model_Observer>
        </observers>
      </controller_front_send_response_after>
    </events>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <adminhtml_catalog_product_edit>
          <file>dhh.xml</file>
        </adminhtml_catalog_product_edit>
      </updates>
    </layout>
    <events>
      <sales_order_place_before>
        <observers>
          <DeHeerHoreca_Util_Model_Observer>
            <type>singleton</type>
            <class>deheerhoreca_util/observer</class>
            <method>beforeOrderPlace</method>
          </DeHeerHoreca_Util_Model_Observer>
        </observers>
      </sales_order_place_before>
    </events>
    <!-- https://gist.github.com/fbrnc/3975149 -->
    <events>
      <controller_action_predispatch>
        <observers>
          <adminnotification>
            <type>disabled</type>
          </adminnotification>
        </observers>
      </controller_action_predispatch>
    </events>
  </adminhtml>
</config>
