<?xml version="1.0"?>
<config>
  <modules>
    <DeHeerHoreca_Util>
      <version>0.1.0</version>
    </DeHeerHoreca_Util>
  </modules>
  <global>
    <helpers>
      <deheerhoreca_util>
        <class>DeHeerHoreca_Util_Helper</class>
      </deheerhoreca_util>
    </helpers>
  </global>
  <frontend>
    <events>
      <catalog_controller_product_view>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </catalog_controller_product_view>
    </events>
  </frontend>
</config>
