.custom-color {
  border-radius: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.custom-color span {
  padding: 0px 10px;
  display: inline-block;
}

.grid .custom-color span {
  min-width: 120px;
  white-space: nowrap;
}

/*
.grid td:has(.custom-color) {
  
}
*/
