.custom-color {
	border-radius: 4px;
	color: #444;
	padding: 1px 1px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.custom-color span {
  display: inline-block;
  padding: 0px 10px;
}

.grid .custom-color span {
  min-width: 120px;
  white-space: nowrap;
}
