.cart {
	&__empty {
		padding: $default-padding;
	}
	&__messages {
		padding: $default-padding $default-padding 0;
	}
	&__items {
	}
	&__item {
		padding: $default-padding;
		border-bottom: 1px solid $color-cart-item-border;
	}
	&__bottom {
		padding: $default-padding;
	}
	&__discount {
		margin-bottom: 15px;
	}
	&__apply-discount {
		position: relative;
	}
	&__apply-discount-icon {
		@include icon(10px, 12px, true);

		position: absolute;
		top: 50%;
		right: $default-padding;
		fill: currentColor;
	}
	&__summary-title {
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: 600;
	}
	&__summary {
		margin-bottom: 30px;
	}
	&__submit-wrapper {
	}
	&__submit {
	}
}
.cart-item {
	$controls-height: 40px;

	&__product {
		margin-bottom: $default-padding;
	}
	&__availability {
		color: $color-cart-item-availability;
	}
	&__controls {
		@include clearfix;
	}
	&__quantity {
		float: left;
		padding: 10px 0;
		width: 32%;
		height: $controls-height;
		border: 1px solid $color-cart-item-quantity-border;
		border-radius: 0;
		background: $color-cart-item-quantity-background;
		text-align: center;
		font-weight: 600;
		appearance: none;
	}
	&__update {
		position: relative;
		display: none;
		float: left;
		margin-left: 3%;
		padding: 0;
		max-width: 250px;
		width: 65%;
		height: $controls-height;
		border: none;
		background: $color-cart-item-update-background;
		color: $color-cart-item-update-color;
		text-align: center;
		text-transform: uppercase;
		line-height: $controls-height;

		&:before {
			$size: 7px;

			position: absolute;
			top: 50%;
			left: -$size;
			margin-top: -$size;
			width: 0;
			height: 0;
			border: $size solid transparent;
			border-right-color: $color-cart-item-update-background;
			border-left-width: 0;
			content: "";
		}
	}
	&__quantity:focus + &__update {
		display: block;
	}
	&__button {
		float: left;
		margin-left: 3%;
		padding: 0;
		width: 31%;
		height: $controls-height;
		border: none;
		background: $color-cart-item-button-background;
		color: $color-cart-item-button-color;
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		line-height: $controls-height;
	}
	&__quantity:focus + &__update + &__button,
	&__quantity:focus + &__update + &__button + &__button {
		// this selectors are very tight to markup, because of Chrome for iOS bug
		// &__quantity:focus ~ &__button is not working there
		display: none;
	}
	&__delete {
	}
	&__delete-icon {
		@include icon(13px);

		margin-top: -2px;
		margin-right: 4px;
	}
	&__edit {
	}
}
.cart-summary {
	width: 100%;

	&__row {
		&--total {
			font-weight: 600;
			font-size: 15px;
			line-height: 28px;
		}
	}
	&__name {
		width: 100%;
		text-transform: uppercase;
	}
	&__price {
		white-space: nowrap;
		text-align: right;
	}
	.empty {
		height: $default-line-height;
	}
	tfoot {
		border-top: 1px solid $color-cart-summary-border;
	}
	.price {
		color: inherit;
		white-space: nowrap;
		font-weight: inherit;
	}
}
.discount {
	&__container {
	}
	&__submit {
	}
}
.cart-giftcard {
	margin-top: 40px;
}
