.price-box {
}
.price-excluding-tax{
    display: block;
    .price {
        color: #018dd3;
    }
}
.price-including-tax{
    display: block;
    .price {
        color: #e85349;
    }
}
.special-price .price-excluding-tax{
  .price {
      color: #018dd3;
  }
}
.special-price .price-including-tax{
  .price {
      color: #e85349;
  }
}
.price {
	color: $color-price-regular;
	font-weight: 600;
}
.price-label {
}
.old-price {
	.price {
		color: $color-price-old;
		text-decoration: line-through;
	}
	.price-label {}
}
.special-price {
	.price {
		color: $color-price-special;
	}
	.price-label {}
}
.regular-price {
	.price {}
	.price-label {}
}
.minimal-price {
	.price {}
	.price-label {}
}
.minimal-price-link {
	display: block;
	.price {}
	.label {}
}
.price-from {
	.price {}
	.price-label {}
}
.price-to {
	.price {}
	.price-label {}
}

.products {
	margin-bottom: 20px;

	&__no-products {
		padding: $default-padding;
	}
}
.product-card {
	display: block;
	color: $color-default;

	&--horizontal {
		@include clearfix;
	}
	&--in-list {
		padding: $default-padding;
		border-bottom: 1px solid $color-product-card-border;
	}
	&__image-wrapper {
		margin-bottom: 10px;
	}
		&--horizontal &__image-wrapper {
			float: left;
			margin-right: 13px;
			margin-bottom: 0;
		}
	&__image {
		width: 90px;
		height: 90px;
	}
		&--horizontal &__info {
			overflow: hidden;
		}
	&__title {
		margin-bottom: 10px;
		color: $color-product-card-title;
		font-weight: 600;
		font-size: 15px;
		line-height: 20px;

		&--trimmed {
			$line-height: 20px;
			$lines-to-show: 2;

			display: block; // Fallback for non-webkit
			display: -webkit-box;
			overflow: hidden;
			max-height: $line-height*$lines-to-show; // Fallback for non-webkit
			text-overflow: ellipsis;

			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
		}
	}
	&__admiration {
		margin-bottom: 10px;
		font-size: 9px;
	}
	&__availability {
		&--grouped {
			margin: 10px 0;
		}
	}
	&__prices {
		font-weight: 600;
		font-size: 15px;
		line-height: 19px;
	}
}
