.rating {
	$width: 11px;

	display: inline-block;
	width: $width * 5;
	background: url("../images/star.svg") 0 0 repeat-x;
	background-size: $width;
	vertical-align: middle;

	&__bar {
		display: block;
		width: 0;
		height: $width;
		background: url("../images/star--filled.svg") 0 0 repeat-x;
		background-size: $width;
	}
}
.admiration {
	line-height: 14px;

	&__rating {
		margin-right: 5px;
	}
	&__reviews {
		color: $color-admiration-reviews;
		vertical-align: middle;
	}
}
.loader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: z("loader");
	display: none;
	width: 100%;
	height: 100%;
	background: $color-loader-background;

	&--hidden-inline {
		display: block;
	}
	&.is-visible {
		display: block;
	}
	&__icon {
		$size: 40px;

		@include icon($size, $size, true);

		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		animation: spin 2s infinite linear;
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
.svg-icon {
	display: inline-block;
	vertical-align: middle;
}
.hide {
	display: none;
}
.more {
	$size: 40px;

	display: none;
	margin-bottom: 10px;
	text-align: center;

	&.is-visible {
		display: block;
	}
	&__button {
		display: inline-block;
		padding: 0;
		width: 200px;
		height: $size + 2px;
		border: 1px solid $color-more-button-border;
		border-radius: 5px;
		background: $color-more-button-background;
		color: $color-more-button;
		font-weight: bold;
		font-size: 16px;
		line-height: $size;

		.is-loading & {
			border-color: transparent;
			pointer-events: none;
		}
	}
	&__text {
		.is-loading & {
			display: none;
		}
	}
	&__icon {
		@include icon($size);

		display: none;

		.is-loading & {
			display: block;
            margin: 0 auto;
			animation: spin 2s infinite linear;
		}
	}
}
.global-messages {
	padding: $default-padding $default-padding 0;
}
.messages {
	margin-bottom: 18px;

	> li {
		@include last;

		margin-bottom: 10px;
		padding: 8px 15px;
		border: 1px solid currentColor;

		&.error-msg {
			background-color: $color-message-error-background;
			color: $color-message-error;
		}
		&.success-msg {
			background-color: $color-message-success-background;
			color: $color-message-success;
		}
		&.note-msg,
		&.notice-msg {
			background-color: $color-message-note-background;
			color: $color-message-note;
		}
	}
	li li {
		@include last;

		margin-bottom: 5px;
	}
}
.std {
	padding: $default-padding;
}
.block-full-width {
	@include fullwidth;
}
.reward-message {
	margin-bottom: $default-padding;
	padding: 8px 15px;
	border: 1px solid currentColor;
	background-color: $color-reward-message-background;
	color: $color-reward-message;

	&.reward-checkout {
		margin: $default-padding;
	}
}
