@mixin last {
	&:last-child {
		margin-bottom: 0;
	}
}
@mixin clearfix {
	&:before,
	&:after {
		display: table;
		content: " ";
	}
	&:after {
		clear: both;
	}
}
@mixin hide-text {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@mixin scroll {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	// height: 100%;
}
@function z($element) {
	$z-index: index($z-indexes, $element);

	@if $z-index {
		@return $z-index + 10;
	}

	@warn 'There is no item "#{$element}" in $z-indexes list; choose one of: #{$z-indexes}';

	@return null;
}
@mixin fullwidth {
	margin-right: -$default-padding;
	margin-left: -$default-padding;
}
@mixin icon($width, $height: $width, $center: false) {
	width: $width;
	height: $height;
	background-size: 100%; // Android Browser 4.0 fix

	@if $center {
		margin-top: - floor($height / 2);
		margin-left: - floor($width / 2);
	}
}
