/*

<div class="panel panel--from-bottom"><!-- placeholder with size and position. never transition -->
    <div class="panel__inner"><!-- sliding part -->

        <div class="panel__header">
            <button class="panel__back panel__action"></button>
            <h2 class="panel__title"><span class="panel__title-text"></span></h2>
            <button class="panel__close panel__action"><svg class="panel__action-icon panel__action-icon--close svg-icon"><use xlink:href="#icon-close" /></svg><span class="hide"><?php echo $this->__("Close") ?></span></button>
        </div>

        <div class="panel__content"><!-- just grouping div without any styles -->
            <div class="panel__container"><!-- may be more than one -->
                <div class="panel__container-shadow"></div>
            </div><!-- .panel__container -->
        </div><!-- .panel__content -->

    </div><!-- .panel__inner -->
</div><!-- .panel -->

*/

.panel {
	$height-panel-header-content: $height-panel-header - 1;
	$bottom-button-height: 60px;

	position: fixed;
	z-index: z("panel");
	width: 100%;
	height: 100%;

	&--from-bottom {
		top: 100%;
		left: 0;
	}
	&--from-right {
		top: 0;
		left: 100%;
	}
	&__inner {
		// todo
		// http://www.greywyvern.com/?post=337 good post for show/hide animation
		// нужно будет overflow: hidden на body вешать, когда открывается панель, потому что скроллится основной контент
		// если у .wrapper будет overflow, то у body он не нужен
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		overflow: hidden;
		width: 100%;
		height: 100%;
		background: $color-panel-background;
		opacity: 0;
		transition: visibility 0s ease-in-out $panel-animation-duration, opacity $panel-animation-duration ease-in-out, transform $panel-animation-duration ease-in-out;
		transform: translate3d(0, 0, 0);
	}
	&.is-open &__inner {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}
	&--from-bottom.is-open &__inner {
		transform: translate3d(0, -100%, 0);
	}
	&--from-right.is-open &__inner {
		transform: translate3d(-100%, 0, 0);
	}
	&.is-steady-position &__inner {
		transform: translate3d(0, 0, 0);
	}
	&--from-bottom.is-steady-position &__inner {
		top: -100%;
	}
	&--from-right.is-steady-position &__inner {
		left: -100%;
	}
	&.is-steady-time &__inner {
		transition-duration: 0s;
	}
	&__header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		width: 100%;
		height: $height-panel-header;
		border-bottom: 1px solid $color-panel-header-border;
		background: $color-panel-header-background;
	}
	&__title {
		position: relative;
		flex: 1 0 auto;
		margin-left: $height-panel-header-content; // for nicer centering when there is no back button
		height: 100%;
		color: $color-panel-title;
		text-align: center;
		font-weight: normal;
		font-size: 16px;
		line-height: $height-panel-header-content;
	}
	&__action + &__title {
		margin-left: 0;
	}
	&__title-text {
		@include ellipsis;

		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		display: block;
		height: 100%;
		animation-duration: $panel-animation-duration;
		animation-timing-function: cubic-bezier(.1, .7, .1, 1);
		animation-fill-mode: forwards;

		.is-animated-forward &--old {
			animation-name: panel-title-forward-out;
		}
		.is-animated-forward &--new {
			animation-name: panel-title-forward-in;
		}
		.is-animated-backward &--old {
			animation-name: panel-title-backward-out;
		}
		.is-animated-backward &--new {
			animation-name: panel-title-backward-in;
		}
	}
	&__action-wrapper {
		flex: 0 0 auto;
	}
	&__action {
		position: relative;
		padding: 0;
		width: $height-panel-header-content;
		height: $height-panel-header-content;
		border: none;
		background-color: transparent;
		background-repeat: no-repeat;
	}
	&__action-icon {
		position: absolute;
		top: 50%;
		color: $color-panel-action;
		fill: currentColor;

		&--back {
			$size: 14px;

			@include icon($size);

			left: $default-padding;
			margin-top: - floor($size/2);
		}
		&--close {
			$size: 12px;

			@include icon($size);

			right: $default-padding;
			margin-top: - floor($size/2);
		}
	}
	&__back {
		opacity: 0;
		transition: opacity $panel-animation-duration;

		&:not(.is-visible) {
			pointer-events: none;
		}
		&.is-visible {
			opacity: 1;
		}
	}
	&__close {
	}
	&__container {
		@include scroll;

		position: absolute;
		top: $height-panel-header;
		bottom: 0;
		left: 0;
		overflow-x: hidden;
		width: 100%;
		background: $color-panel-container-background;
		transition: transform $panel-animation-duration;

		&:nth-child(n+2) {
			left: 100%;
		}
		&.is-visible {
			transform: translate3d(-100%, 0 ,0);
		}
		&--with-button {
			padding-bottom: $bottom-button-height;
		}
	}
	&__container-shadow {
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0;
		transition: visibility 0s $panel-animation-duration, opacity $panel-animation-duration;

		&.is-visible {
			visibility: visible;
			opacity: .3;
			transition-delay: 0s;
		}
	}
	&__bottom-button {
		position: fixed;
		bottom: 0;
		left: 0;
		height: $bottom-button-height;
		line-height: $bottom-button-height;
	}
}
@keyframes panel-title-forward-out {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(-40%);
	}
}
@keyframes panel-title-forward-in {
	from {
		opacity: 0;
		transform: translateX(60%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes panel-title-backward-out {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(60%);
	}
}
@keyframes panel-title-backward-in {
	from {
		opacity: 0;
		transform: translateX(-50%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
.list-group {
	&__item {
		position: relative;
		border-bottom: 1px solid $color-list-group-item-border;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 16px;

		&--without-border {
			border-color: transparent;
		}
	}
	&__item-title {
		display: block;
		padding: 15px $default-padding;
		padding-right: $default-padding + 12 + 10;
		background-color: $color-list-group-item-background;
		color: $color-list-group-item;

		&.is-current {
			color: $color-list-group-item-current;
		}
	}
	&__icon {
		position: absolute;
		top: 50%;
		right: $default-padding;
		margin: 0; /* need in case of using .radio for icon */
		fill: currentColor;

		&--arrow {
			$height: 13px;

			@include icon(8px, $height, true);
		}
		&--current-nav {
			$size: 12px;

			@include icon($size, $size, true);
		}
		&--radio {
			display: block;
			margin-top: -10px;
		}
	}
}
.search {
	&__form {
		padding: $default-padding;
	}
	&__textfield {
	}
	&__submit {
	}
}
.login {
	padding: $default-padding;
	background: $color-panel-container-background-alternative;

	&__forgot {
		text-align: center;
		text-transform: uppercase;
	}
}
.forgot-password {
	padding: $default-padding;
	background: $color-panel-container-background-alternative;
}
.register {
	padding: $default-padding;
	background: $color-panel-container-background-alternative;
}
.sorting {
	&__container {
		background: $color-panel-container-background-alternative;
	}
	&__parameter {
		font-size: 12px;
	}
}
.filter {
	&__parameter {
		font-size: 12px;
	}
	&__parameter-clear {
		margin-top: -6px;
		color: $color-filter-clear-parameter;
		line-height: 1;
	}
	&__clear {
		background: $color-filter-clear-background;
		color: $color-filter-clear;
		text-align: center;
		font-size: 14px;
	}
	&__clear-icon {
		@include icon(14px);

		margin-top: -3px;
		margin-right: 5px;
		fill: currentColor;
	}
	&__selected-option {
		display: block;
		margin-top: -2px;
		font-size: 10px;
		line-height: 1;
	}
}
.my-account {
	&__container {
		background: $color-panel-container-background-alternative;
	}
	&__logout {
		color: $color-my-account-logout;
	}
}
.discount {
	&__container {
		padding: $default-padding;
		background: $color-panel-container-background-alternative;
	}
	&__submit {
	}
}
.add-to-cart-options {
	&__container {
		padding: $default-padding;
	}
	&__wishlist {
		margin-top: 15px;
	}
}
