// Fonts
$default-font-family: "Open Sans", Arial, sans-serif;
$default-font-size: 12px;
$default-line-height: 20px;

// Sizes
// this padding used as side padding for almost every block, also used for margin between blocks, and top/bottom paddings
$default-padding: 15px;

// Colors
$color-default: #000;
$color-background: #fff;
$color-action: #1c57ff;
$color-link: $color-action;
$color-loader-background: rgba(#ddd, .7);

// Z-indexes
$z-indexes: header, product-tabs, cookie-notice, panel, loader;

// Prices
$color-price-regular: #22c064;
$color-price-special: #e85349;
$color-price-old: #777;

// More button
$color-more-button: #777;
$color-more-button-background: #fff;
$color-more-button-border: #888;

// Buttons
$color-button-default: #fff;
$color-button-default-background: $color-action;
$color-button-alternative: #fff;
$color-button-alternative-background: #22c064;
$color-button-disabled: #000;
$color-button-disabled-background: #bfbfbf;

// Forms
$color-form-required: #ff3b30;
$color-textfield-background: #fff;
$color-textfield-border: #777;
$color-textfield-dark-background: #f3f3f3;
$color-form-field-hint: #aaa;

// Headers
$color-site-header-background: #fff;
$color-page-header-background: #000;
$color-page-header: #fff;
$color-page-header-link: $color-page-header;
$color-site-header: $color-default;
$color-site-header-cart-items: #e85349;

$height-site-header: 44px;
$height-page-header: 40px;
$height-header: $height-site-header + $height-page-header;

$width-site-header-action: 44px;

// Panels
$color-panel-background: #fff;
$color-panel-container-background: $color-panel-background;
$color-panel-container-background-alternative: #f3f3f3;
$color-panel-header-background: $color-panel-background;
$color-panel-header-border: #939393;
$color-panel-title: $color-default;
$color-panel-action: $color-default;
$height-panel-header: 55px;
$panel-animation-duration: .3s;

// Panel list-group (navigation, filter, etc.)
$color-list-group-item-border: $color-panel-header-border;
$color-list-group-item-background: #fff;
$color-list-group-item: #000;
$color-list-group-item-current: #007aff;

// Panels other elements
$color-filter-clear: #fff;
$color-filter-clear-background: #e0483e;
$color-filter-clear-parameter: #e0483e;

$color-my-account-logout: #e85349;

$color-sort-direction-current: #22c064;

// Product card in catalog
$color-product-card-border: #aaa;
$color-product-card-title: $color-link;
$color-admiration-reviews: #666; // reviews

// Product tabs
$color-tabs-background: #f3f3f3;
$color-tabs-tab-current-background: #333;
$color-tabs-tab-current-text: #fff;

// Product page elements
$color-product-title: $color-default;
$color-product-gallery-background: #f3f3f3;
$color-review-border: #aaa;
$color-product-qty-button: $color-button-alternative;
$color-product-qty-button-background: $color-button-alternative-background;

// Cart
$color-cart-item-border: #b2b2b2;
$color-cart-item-availability: #1c57ff;
$color-cart-item-quantity-background: #fff;
$color-cart-item-quantity-border: #f3f3f3;
$color-cart-item-update-background: #22c064;
$color-cart-item-update-color: #fff;
$color-cart-item-button-background: #f3f3f3;
$color-cart-item-button-color: $color-default;
$color-cart-summary-border: #aaa;

// Dashboard
$color-dashboard-hello-background: #f3f3f3;
$color-dashboard-section-border: #aaa;
$color-my-orders-border: #ccc;
$color-downloadable-products-date: #adadad;
$color-recent-orders-border: #aaa;
$color-order-items-tfoot-border: #ccc;

// Checkout
$color-checkout-step-border: #aaa;
$color-checkout-step-active-background: #f3f3f3;
$color-checkout-step-edit: #e85349;
$color-checkout-step-number: #fff;
$color-checkout-step-number-background: #aaa;
$color-checkout-step-number-allow-background: #22c064;
$color-checkout-step-island-background: #fff;
$color-order-review-background: #fff;
$color-order-review-border: #aaa;
$color-order-review-option-price: #777;
$color-order-review-price: #e85349;

// Global Messages
$color-message-error: #e74c3c;
$color-message-error-background: #ffedeb;
$color-message-success: #27ae60;
$color-message-success-background: #e8fff2;
$color-message-note: #7d775b;
$color-message-note-background: #fffae6;

// Cookie Notice
$color-cookie-notice-border: #000;
$color-cookie-notice-background: #fff;

// Reward message
$color-reward-message: #7d775b;
$color-reward-message-background: #fffae6;
