<?xml version="1.0"?>
<config>
    <modules>
        <MagicToolbox_MagicScroll>
            <version>4.15.9</version>
        </MagicToolbox_MagicScroll>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MagicToolbox_MagicScroll before="Mage_Adminhtml">MagicToolbox_MagicScroll</MagicToolbox_MagicScroll>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magictoolbox translate="title" module="magicscroll">
                <title>Magic Toolbox</title>
                <sort_order>300</sort_order>
                <children>
                    <magicscroll translate="title" module="magicscroll">
                        <title>Magic Scroll settings</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/magicscroll/index</action>
                    </magicscroll>
                </children>
            </magictoolbox>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <magictoolbox>
                            <title>Magic Toolbox</title>
                            <sort_order>300</sort_order>
                            <children>
                                <magicscroll>
                                    <title>Magic Scroll settings</title>
                                    <sort_order>10</sort_order>
                                </magicscroll>
                            </children>
                        </magictoolbox>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <magicscroll>
                    <file>magicscroll.xml</file>
                </magicscroll>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <magicscroll module="MagicToolbox_MagicScroll">
                    <file>magicscroll.xml</file>
                </magicscroll>
            </updates>
        </layout>
        <events>
            <core_layout_update_updates_get_after>
                <observers>
                    <magicscroll>
                        <type>singleton</type>
                        <class>MagicToolbox_MagicScroll_Model_Observer</class>
                        <method>fixLayoutUpdates</method>
                    </magicscroll>
                </observers>
            </core_layout_update_updates_get_after>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <magicscroll>
                        <type>singleton</type>
                        <class>MagicToolbox_MagicScroll_Model_Observer</class>
                        <method>addLayoutUpdate</method>
                    </magicscroll>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
        <routers>
            <magicscroll>
                <use>standard</use>
                <args>
                    <module>MagicToolbox_MagicScroll</module>
                    <frontName>magicscroll</frontName>
                </args>
            </magicscroll>
        </routers>
        <default>
            <router>magicscroll</router>
        </default>
    </frontend>
    <global>
        <models>
            <magicscroll>
                <class>MagicToolbox_MagicScroll_Model</class>
                <resourceModel>magicscroll_mysql4</resourceModel>
            </magicscroll>
            <magicscroll_mysql4>
                <class>MagicToolbox_MagicScroll_Model_Mysql4</class>
                <entities>
                    <settings>
                        <table>magicscroll</table>
                    </settings>
                </entities>
            </magicscroll_mysql4>
        </models>
        <resources>
            <magicscroll_setup>
                <setup>
                    <module>MagicToolbox_MagicScroll</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magicscroll_setup>
            <magicscroll_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magicscroll_write>
            <magicscroll_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magicscroll_read>
        </resources>
        <blocks>
            <magicscroll>
                <class>MagicToolbox_MagicScroll_Block</class>
            </magicscroll>
        </blocks>
        <helpers>
            <magicscroll>
                <class>MagicToolbox_MagicScroll_Helper</class>
            </magicscroll>
        </helpers>
    </global>
</config>
