<div style="padding-bottom: 10px;"></div>
<dl class="faq-items"><dt id="faq-que-19" onclick="slide('faq-que-19','faq-ans-19')">Hebben jullie een showroom?</dt><dd id="faq-ans-19" style="display: none;">
<p>Nee, wij hebben geen showroom. Ons doel is om een zo effici&euml;nt mogelijke organisatie te zijn welke de kosten laag kan houden en de klanten daarom de beste prijs kan bieden. Er zijn mogelijkheden om bepaalde apparaten te bezichtigen. Neemt u daarvoor contact op met klantenservice@prokoeling.nl</p>
</dd><dt id="faq-que-23" onclick="slide('faq-que-23','faq-ans-23')">Welke tijden zijn jullie bereikbaar?</dt><dd id="faq-ans-23" style="display: none;">
<p>Op werkdagen van 08.30-17.30. Per email op klantenservice@prokoeling.nl en per telefoon op: 085-0441003</p>
</dd></dl>
<script type="text/javascript">// <![CDATA[
function slide(element1, element2){
new Effect.toggle(element2,'Slide', {duration:0});
if( $(element1).hasClassName("active") ){
$(element1).removeClassName("active");
}
else{
$(element1).addClassName("active");
}
}
// ]]></script>