<dl class="faq-items"><dt id="faq-que-21" onclick="slide('faq-que-21','faq-ans-21')">Aflevering</dt><dd id="faq-ans-21" style="display: none;">
<p>De bestelde producten worden, na ontvangst van uw betaling in originele verpakking en eventueel op een pallet afgeleverd. Aflevering vind plaats d.m.v. het gebruik van een pomp- of steekwagen tot aan de eerste deur. De artikelen worden niet uitgepakt en verpakkingsmaterialen worden niet mee terug genomen.</p>
</dd><dt id="faq-que-4" onclick="slide('faq-que-4','faq-ans-4')">Aflevertijden</dt><dd id="faq-ans-4" style="display: none;">
<p>De standaard levertijden zijn maandag tot en met vrijdag van 08:00 tot 18:00. Wij zullen u zo goed mogelijk per email op de hoogte houden van het aflever proces. Sommige transporteurs werken met een track&amp;trace systeem, waarbij u de bezorging van de artikelen in de gaten kunt houden.</p>
</dd><dt id="faq-que-20" onclick="slide('faq-que-20','faq-ans-20')">Artikelen retourneren</dt><dd id="faq-ans-20" style="display: none;">
<p>Alvorens een pakket terug te sturen dient u contact op te nemen met klantenservice@prokoeling.nl. Wij zullen u dan informeren over de te nemen stappen. Het te retourneren product moet in de originele verpakking en met voldoende beschermende materialen worden geretourneerd. Het product dient hygi&euml;nisch schoon retour gestuurd te worden. Retour gestuurde producten worden niet teruggenomen indien ze:</p>
<ul>
<ul>
<li>i. Gebruikt zijn</li>
<li>ii. Beschadigd zijn</li>
<li>iii Speciaal voor u zijn gemaakt</li>
<li>iv. Speciaal voor u zijn besteld</li>
<li>v. Niet vooraf gemeld zijn</li>
<ul></ul>
</ul>
</ul>
<p>Bij het retourneren of omruilen van producten kan er 30% van de oorspronkelijke ordersom crediteringskosten in rekening worden gebracht, tenzij schriftelijk anders overeengekomen.<br /> <strong>Bij een consumentenverkoop aan particulieren</strong><br /> De kosten voor het retour zenden komen voor uw eigen rekening, tenzij anders is overeengekomen. U dient altijd voldoende te frankeren, anders worden ze niet in ontvangst genomen en niet gecrediteerd. Het risico van de retourzending ligt bij degene die de zending retourneert.</p>
<p>Is een artikel per ongeluk verkeerd geleverd, neem dan contact op met een kort bericht via klantenservice@prokoeling.nl en vermeld hierin uw ordernummer, omschrijving en artikelnummer van het geleverde product en voeg een foto van het geleverde product bij. De kosten voor het retour zenden vari&euml;ren van &euro; 9,95 voor kleine pakketjes tot &euro; 75,00 voor koelkasten en/of kookapparatuur + &euro; 12,50 administratie en behandelingskosten. Deze kosten kunt u v&oacute;&oacute;r uw bestelling bij ons opvragen.</p>
</dd><dt id="faq-que-31" onclick="slide('faq-que-31','faq-ans-31')">Kan ik meerdere vervoerders verwachten?</dt><dd id="faq-ans-31" style="display: none;">
<p>Indien uw bestelling uit meerdere producten van verschillende fabrikanten bestaat, bestaat de mogelijkheid dat er meerdere vervoerders uw producten komen leveren.</p>
</dd><dt id="faq-que-32" onclick="slide('faq-que-32','faq-ans-32')">Verkeerd artikel ontvangen</dt><dd id="faq-ans-32" style="display: none;">
<p>Is een artikel per ongeluk verkeerd geleverd, neem dan contact op met een kort bericht via klantenservice@prokoeling.nl en vermeld hierin uw ordernummer, omschrijving en artikelnummer van het geleverde product en voeg een foto van het geleverde product bij.</p>
<p>Nadat wij uw melding hebben ontvangen en deze wordt geaccepteerd ontvangt u van ons retour labels en instructies om het artikel te retourneren.</p>
</dd><dt id="faq-que-30" onclick="slide('faq-que-30','faq-ans-30')">Verzendkosten retourzending</dt><dd id="faq-ans-30" style="display: none;">
<p>Het verzenden en verzendkosten voor het retourneren van bestelling op eigen wens zijn voor rekening en risico van de koper, tenzij schriftelijk anders overeengekomen.</p>
</dd></dl>
<script type="text/javascript">// <![CDATA[
function slide(element1, element2){
new Effect.toggle(element2,'Slide', {duration:0});
if( $(element1).hasClassName("active") ){
$(element1).removeClassName("active");
}
else{
$(element1).addClassName("active");
}
}
// ]]></script>