<div class="info-box info-box-not-found">
  <div class="info-box-inner">
    <h1 class="xxl">Foutje</h1>
    <p>Er is helaas iets misgegaan met uw Biller betaling, onze excuses!</p>
    <h1 style="padding-top: 1em;">Wat u kunt proberen:</h1>
    <ol class="disc-list">
      <li>Probeer het nogmaals met de Biller betaallink die u heeft ontvangen</li>
      <li>Neem contact met ons op om de order alsnog te verwerken: <a href="mailto:sales@chefstore.nl">sales@chefstore.nl</a></li>
    </ol>
    <button type="button" style="margin: 2em auto;" class="center button" title="Continue Shopping" onclick="if (!window.__cfRLUnblockHandlers) return false; window.location='https://www.chefstore.nl/'">Naar Chefstore.nl</button>
  </div>
</div>
