<div class="blogcontainer">
  <img height="212" src="/media/catalog/category/tafel_1.jpg" width="771" class="center main"/>
  <p>
    Op zoek naar een nieuwe koelkast voor thuis? Naast professionele koelkasten bieden wij ook koelkasten voor de 'gewone' consument aan die je gewoon in de keuken plaatst. Maar welke koelkast past bij jouw gebruik? Wij leggen je een aantal zaken over koelkasten uit, zodat jij de beste koelkast kiest.
  </p>
  
  <div class="paragraph">
    <h2>Bouwkwaliteit en zuinigheid</h2>
    Onze koelkasten zijn gemaakt door Frilec en Exquisit. Deze professionele merken hebben ook koelkasten gemaakt over bij jou thuis. Dat betekent nog steeds dezelfde goede bouwkwaliteit, alleen voor een iets gunstigere prijs. Uiteraard is zuinigheid belangrijk, daarom hebben deze koelkasten energielabels van A+ tot en met A+++.
    <br /><br />
    <a href=/koelkasten/alle-koelkasten/consumenten.html?utm_source=chefstore-blog>Bekijk onze consumenten koelkasten</a>
  </div>
  
  <div class="paragraph">
    <h2>Het formaat</h2>
    Er zijn verschillende formaten koelkasten. Het ligt er natuurlijk maar net aan hoeveel ruimte jij voor een koelkast hebt. Om een goede keuze te maken lichten wij de kleinere en grotere modellen voor je uit. 
  </div>
 
  <div class="paragraph">
    <h3>Kleine koelkasten</h3>
    <img src="/media/wysiwyg/blogs/blog-een-koelkast-voor-thuis-kopen-waar-let-je-op-1.jpg" height="256" width="256" class="floatright"/>
    Zo hebben wij mini koelkasten die je in een aparte ruimte zoals een slaapkamer of afgesloten kantoor neerzet. Deze koelkasten hebben een inhoud van maximaal 60 liter. De iets grotere tafelmodel koelkasten zijn erg geschikt voor onder een aanrecht. Hier kies je voor als je weinig ruimte hebt of niet erg veel in je koelkast hoeft te bewaren. Of misschien wil je er wel een tweede koelkast in de bijkeuken of schuur bij. Ook dan is een tafelmodel koelkast vaak een handige optie. Deze modellen gaan doorgaans tot een inhoud van maximaal 130 liter.
  </div>
 
  <div class="paragraph">
    <h3>Grote koelkasten</h3>
    <img src="/media/wysiwyg/blogs/blog-een-koelkast-voor-thuis-kopen-waar-let-je-op-2.jpg" height="256" width="256" class="floatright"/>
    Uiteraard zijn er ook volwaardige koelkasten, vaak met een ingebouwde viezer. Ook deze variëren weer in formaat. De meeste modellen beginnen rond de 80 liter, plus nog een extra vriesvak. Dit is een handige optie voor wanneer je wel de ruimte hebt voor een groot apparaat, maar niet voor een aparte koelkast en vriezer. 
  </div>
  
  <div class="paragraph">
    <h3>Amerikaanse koelkasten</h3>
    <img src="/media/wysiwyg/blogs/blog-een-koelkast-voor-thuis-kopen-waar-let-je-op-3.jpg" height="256" width="256" class="floatright"/>
    De echt grote koelkasten, of Amerikaanse koelkasten, zijn er vanaf zo'n 300 liter. Deze modellen beschikken over twee deuren en zijn vaak alleen geschikt voor koelen. Dit zijn de koelkasten voor de grotere huishoudens met veel ruimte. Amerikaanse koelkasten hebben ook vaak een waterdispenser of water- en ijsdispenser. Hier komt gekoeld water of ijs uit wanneer je je glas er tegenaan houdt. Erg handig dus voor als je op zoek bent naar wat meer luxe.
  </div>

</div>
