<div style="max-width: 800px; margin: auto;">
<h1>Contact- en bedrijfsgegevens</h1>
<p>Chefstore.nl staat garant voor betaalbare professionele kwaliteit. Dankzij de jarenlange ervaringen binnen de branche zijn wij in staat om voor alle klanten een goede oplossing te vinden.</p>
<p>Voor meer informatie over ons bedrijf, zie {{widget type="cms/widget_page_link" anchor_text="over Chefstore.nl" template="cms/widget/link/link_block.phtml" page_id="45"}}</p>
<div class="text-center py-4">
<h3><em>Chefstore.nl - Alles voor de Chef</em></h3>
</div>
<div class="py-3">
<h3>Contactgegevens</h3>
<strong><em>Voor alle contactmogelijkheden, klik bovenin op het telefoon icoontje.</em></strong>
<ul>
<li>Service: <a href="mailto:service@chefstore.nl">service@chefstore.nl</a></li>
<li>Sales: <a href="mailto:sales@chefstore.nl">sales@chefstore.nl</a></li>
<li>Telefoon: <a href="tel:+31850441003">+31 85 0441003</a></li>
</ul>
</div>
<div class="py-3">
<h3>Postadres</h3>
<ul>
<li><strong>(<em>G&eacute;&eacute;n retouradres.</em> Neemt u contact met ons op om iets te retourneren)</strong></li>
<li>De Heer Horeca B.V.</li>
<li>Chefstore.nl</li>
<li>John M. Keynesplein 12-46</li>
<li>1066 EP Amsterdam</li>
<li>Nederland</li>
</ul>
</div>
<div class="py-3">
<h3>Bankgegevens / Bank Account</h3>
<div class="py-1">
<ul>
<li><strong>Naam / Account Name:</strong> De Heer Horeca B.V.</li>
<li><strong>IBAN:</strong> NL08BUNQ2291487957</li>
<li><strong>BIC:</strong> BUNQNL2A</li>
</ul>
</div>
<h3>Registratiegegens en bankgegevens</h3>
<div class="py-1">
<ul>
<li><strong>Nederland:</strong></li>
<li><strong>KvK nummer:</strong> 69637717</li>
<li><strong>BTW nummer:</strong> NL857951488B01</li>
</ul>
</div>
<div class="py-1">
<ul>
<li><strong>Belgi&euml;:</strong></li>
<li><strong>BTW nummer:</strong> BE0783994580</li>
</ul>
</div>
</div>
</div>