<p>We doen ons best om je zo goed mogelijk te helpen. Mocht je onverhoopt toch ontevreden zijn, dan staan we je graag te woord. Je kunt hiervoor op verschillende manieren contact met ons opnemen.</p>
<div>
<ul>
<li>Email: service@chefstore.nl</li>
<li>Telefoon +31850441003</li>
</ul>
</div>
<p>Het kan altijd voorkomen dat er iets niet helemaal gaat zoals gepland. We raden u aan om klachten eerst bij ons kenbaar te maken door te mailen naar service@chesfstore.nl. Leidt dit niet tot een oplossing, dan is het mogelijk om uw geschil aan te melden voor bemiddeling via <a title="WebwinkelKeur" href="https://www.webwinkelkeur.nl/kennisbank/consumenten/geschil" target="_blank" rel="noopener nofollow">WebwinkelKeur</a>.</p>