<div>
  <div style="float:right;"><img src="/media/wysiwyg/brands/combisteel.png" class="center mobile-hide" style="max-width:200px; height:auto;" height=70 width=200></div>
  <p>CombiSteel biedt fabrieksgarantie op alle producten. De voorwaarden verschillen per productgroep en het land waar de producten geleverd zijn. Op deze pagina geven wij aan welke fabrieksgarantie geldt voor CombiSteel producten.</p>

  <h2 style="padding-top: 2em;">Garantietermijnen Nederland</h2>
  <ul class="indented-disc">
    <li><strong>Koelapparatuur, m.u.v. tafel- of mini modellen:</strong> 24 maanden (in overleg on-site of carry-in)</li>
    <li><strong>Koelapparatuur tafel- en mini modellen:</strong> 12 maanden carry-in</li>
    <li><strong>Overige apparatuur:</strong> 12 maanden onderdelengarantie</li>
    <li><strong>Vriesmotoren voor vriescellen:</strong> 12 maanden onderdelengarantie indien deze niet door een CombiSteel erkende installateur zijn geïnstalleerd. Zo wel, dan geldt de normale garantie voor koelapparatuur.</li>
  </ul>

  <h3>Waddeneilanden</h3>
  Op de Waddeneilanden geldt alleen een fabrieksgarantie op onderdelen. De looptijd is niet anders dan de rest van Nederland

  <h2 style="padding-top: 2em;">Garantietermijnen België</h2>
  <ul class="indented-disc">
    <li><strong>Koelapparatuur, m.u.v. tafel- of mini modellen:</strong> 12 maanden (in overleg on-site of carry-in)</li>
    <li><strong>Koelapparatuur tafel- en mini modellen:</strong> 12 maanden carry-in</li>
    <li><strong>Overige apparatuur:</strong> 24 maanden onderdelengarantie</li>
  </ul>
</div>
