<div style="padding-bottom: 10px;"></div>
<dl class="faq-items"><dt id="faq-que-19" onclick="slide('faq-que-19','faq-ans-19')">Hoe lang heb ik garantie?</dt><dd id="faq-ans-19" style="display: none;">
<p>Standaard bieden we 12 maanden garantie op alle producten. Bij sommige producten biedt de leverancier een langere termijn. Dit is vermeld bij de betreffende producten. 
</p>
</dd><dt id="faq-que-23" onclick="slide('faq-que-23','faq-ans-23')">Storing of defect aan apparaat in garantieperiode</dt><dd id="faq-ans-23" style="display: none;">
<p>Bij problemen kunt u de volgende punten nalopen:</p>
 <p>
Zit de stekker in het stopcontact?
Is de stroomvoorziening in orde? U kunt eventueel zekeringen vervangen. Zorg hierbij wel altijd dat de hoofdschakelaar uit staat!
Is er geen verstopping of vuilophoping in de afvoer?
Is de condensor vrij van vuil?
Is de laadlijn niet overschreden waardoor het aanzuigrooster/ uitblaasrooster wordt geblokkeerd?
Staat de koeling in een ontdooicyclus?
Controleer de gebruikershandleiding
Ligt het niet aan bovenstaande problemen? Neem dan contact op via klantenservice@prokoeling.nl
 </p><p>
Neem contact met ons op binnen 24 uur van het constateren van het gebrek via klantenservice@prokoeling.nl.
 </p>
<p>Goed om te weten is dat garantie vervalt indien de koper:
- De goederen niet of niet volledig betaald heeft.  
- Enige verplichting jegens ons niet stipt nakomt.
- Professionele (gas)- apparatuur dient te worden aangesloten door daarvoor gecertificeerde installatiebedrijven.
- Door derden reparaties of andere werkzaamheden laat verrichten aan de apparatuur.
- Wijzigingen aanbrengt dan wel laat aanbrengen. 
- Het geleverde niet volgens de voorschriften gebruikt. 
- De garantieperiode laat verlopen zonder enige klacht dienaangaande.  </p><p>
- Uitgesloten van garantie zijn die delen en onderdelen, die niet direct van invloed zijn op het leveren van deze prestatie, zoals verlichting, glas, hang en - Sluitwerk, zwenkwielen, branders en thermokoppels van doner en shoarma apparatuur, deurrubber en bedieningsknoppen.
Het te retourneren product moet in de originele verpakking en met voldoende beschermende materialen worden geretourneerd. Het product dient hygiënisch schoon retour gestuurd te worden. We behouden ons het recht voor om onderzoek of reparatie van producten te weigeren als niet aan de hierboven genoemde voorwaarden is voldaan. 
</p>
</dd><dt id="faq-que-13" onclick="slide('faq-que-13','faq-ans-13')">Veiligheid en algemene voorwaarden</dt><dd id="faq-ans-13" style="display: none;">
<p>Het betaalproces verloopt via een beveiligde SSL verbinding die alle data versleuteld verstuurd. Hierdoor kan deze niet door ons en anderen worden ingezien.
 </p><p>
De algemene voorwaarden kunt u hier nalezen.
</p>
</dd></dl>
<script type="text/javascript">// <![CDATA[
function slide(element1, element2){
new Effect.toggle(element2,'Slide', {duration:0});
if( $(element1).hasClassName("active") ){
$(element1).removeClassName("active");
}
else{
$(element1).addClassName("active");
}
}
// ]]></script>