<ol>
<li>De garantie op producten waarvan onze SKU begint met de voorloopletters <strong>GI</strong>, wordt verleend door de importeur Gastro-Inox</li>
<li>Gastro-Inox garandeert dat haar producten zijn vervaardigd uit deugdelijk materiaal en met goed vakmanschap.</li>
<li>Indien zich gebreken voordoen als gevolg van materiaal- of fabricagefouten, zal Gastro-Inox:
<ol>
<li>het gebrek herstellen of laten herstellen, of</li>
<li>de benodigde onderdelen voor herstel beschikbaar stellen,</li>
<li>conform de geldende standaard garantievoorwaarden van het betreffende product.</li>
</ol>
</li>
</ol>
<h2>Garantieperiode</h2>
<ul>
<li><strong>2 jaar garantie</strong> op alle apparatuur, koelingen en vriezers:
<ul>
<li><strong>1e jaar:</strong> volledige garantie (inclusief arbeid op locatie)</li>
<li><strong>2e jaar:</strong> uitsluitend onderdelen</li>
</ul>
</li>
</ul>
<h3>Voorwaarden:</h3>
<ul>
<li><strong>1 jaar</strong> garantie op alle producten die niet onder bovenstaande lijst vallen.</li>
<li><strong>3 maanden</strong> garantie op door Gastro-Inox uitgevoerde reparaties.</li>
<li>Voor <em>vaatwasmachines</em>, <em>combisteamers</em> en <em>ijsblokjesmachines</em> geldt de voorwaarde dat deze moeten zijn aangesloten op een waterontharder.</li>
</ul>
<h2>Aanvullende bepalingen</h2>
<ol>
<li>Gastro-Inox is niet gehouden tot verdere verplichtingen, zoals schadevergoeding, tenzij dit schriftelijk is overeengekomen.</li>
<li>Ontbinding van de overeenkomst door de afnemer is uitgesloten.</li>
<li>Onderdelen of producten die onder garantie of reparatie worden vervangen, worden eigendom van Gastro-Inox.</li>
<li>Gastro-Inox kan als voorwaarde voor garantie verlangen dat:
<ul>
<li>het product franco wordt toegezonden, en/of</li>
<li>een opdracht wordt verstrekt voor periodiek onderhoud.</li>
</ul>
</li>
</ol>
<p>&nbsp;</p>