<div>
    <div style="float:right;"><img src="/media/wysiwyg/brands/maxima.png" class="center mobile-hide" style="max-width:200px; height:auto;" height=70 width=200>
    </div>
    <p>Op alle Maxima apparatuur ontvang je 24 maanden fabrieksgarantie. Maxima staat bekend om haar efficiënte en
        praktische serviceaanpak. Bij een eventuele storing wordt eerst een diagnose op afstand uitgevoerd, op basis van
        een duidelijke klachtomschrijving met foto’s en/of video’s. Veel technische vragen en storingen kunnen op deze
        manier snel worden opgelost, zonder dat het apparaat retour hoeft. Mocht blijken dat reparatie op afstand niet
        mogelijk is, dan wordt het apparaat professioneel gecontroleerd en gerepareerd door de technische dienst van
        Maxima in Mijdrecht. Indien nodig wordt het apparaat opgehaald of opgestuurd. Omdat dit proces enige tijd kan
        vergen, adviseren wij om hier rekening mee te houden binnen je bedrijfsvoering. Zo ben je verzekerd van een
        betrouwbare oplossing en blijft uw keuken zo goed mogelijk operationeel.
</div>
