<div id="main-banner">
  <img id="main-header" alt="Chefstore.nl" src="/media/wysiwyg/prokoeling-header-1.jpg">
  <div id="slogan-container">
    <span id="slogan">
      Chefstore.nl biedt een zeer uitgebreid assortiment non-food horeca artikelen. Van in de keuken tot op de tafel. Bijna alles uit voorraad leverbaar
    </span>
  </div>
</div>
{{block type="core/template" name="product_featured" as="product_featured" template="catalog/product/featured.phtml}}
<div class="mobile-hide">{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="26"}}</div>
