<link rel="stylesheet" type="text/css" href="/skin/frontend/rwd/dhh/css/cms_index_index.css" media="all" />

<div id="main-banner">
  <img id="main-header" alt="Chefstore.nl" src="/media/wysiwyg/prokoeling-header-1.jpg">
  <div id="slogan-container">
    <span id="slogan">
      Chefstore.nl biedt een zeer uitgebreid assortiment non-food horeca artikelen. Van in de keuken tot op de tafel. Bijna alles uit voorraad leverbaar
    </span>
  </div>
</div>

<div id="tile-banners">
  <ul class="html5-grid html5-grid-4-col">
    <li class="fp-banner fp-banner-dark" style="background-image: url('/media/wysiwyg/banners/rahul-chakraborty.jpg');">
      <span class="fp-banner-smile">
        <svg class="fp-banner-smile-lower center" viewBox="0 0 864 188">
          <path style="fill: rgba(237,126,47,1);" d="M 0 0 L 864 0 L 864 125.3333511352539 C 864 125.3333511352539 648 188 432 188 C 216 188 0 125.3333511352539 0 125.3333511352539 L 0 0 Z" />
		</svg>
		<svg class="fp-banner-smile-upper" viewBox="0 0 1080 162">
          <path style="fill: rgba(255,255,255,1);" d="M 0 0 L 1080 0 L 1080 108 C 1080 108 810 162 540 162 C 270 162 0 108 0 108 L 0 0 Z" />
		</svg>
      </span>
      <div class="fp-banner-titles-low">
        <div class="fp-banner-title">Aardappel!</div>
        <div class="fp-banner-subtitle">In een bakkie</div>
      </div>
    </li>
    
    <li class="fp-banner">
      <span class="fp-banner-smile">
        <svg class="fp-banner-smile-lower center" viewBox="0 0 864 188">
          <path style="fill: rgba(237,126,47,1);" d="M 0 0 L 864 0 L 864 125.3333511352539 C 864 125.3333511352539 648 188 432 188 C 216 188 0 125.3333511352539 0 125.3333511352539 L 0 0 Z" />
		</svg>
		<svg class="fp-banner-smile-upper" viewBox="0 0 1080 162">
          <path style="fill: rgba(255,255,255,1);" d="M 0 0 L 1080 0 L 1080 108 C 1080 108 810 162 540 162 C 270 162 0 108 0 108 L 0 0 Z" />
		</svg>
      </span>
      <div class="fp-banner-titles-high">
        <div class="fp-banner-title">Koffie!</div>
        <div class="fp-banner-subtitle">In een bakkie</div>
      </div>
      <div class="fp-banner-product-image" style="background-image: url(/media/wysiwyg/banners/bartscher-190052-00-a-e3fb.jpg);"></div>
    </li>
    
    <li class="fp-banner"></li>
    <li class="fp-banner"></li>
  </ul>
</div>

{{block type="core/template" name="product_featured" as="product_featured" template="catalog/product/featured.phtml}}
<div class="mobile-hide">{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="26"}}</div>
