<style>
  #blackfriday-banner-wrapper {
    width: 100%;
    min-width: 100%;
    height: 350px;
    min-height: 250px;
    max-height: 350px;
    background-color: #000;
    background-image: url("//images.chefstore.nl/media/wysiwyg/banners/fp_20241122_blackfridaybg.png?v=1&amp;tr=w-1024,c-at_max");
    background-repeat: no-repeat;
    background-size: auto;
    background-blend-mode: normal;
    background-position: center;
    z-index: 1;
    position: relative;
  }
  
  #blackfriday-banner-overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    z-index: 2;
    position: absolute;
  }

  #blackfriday-banner-content-container {
    width: 100%;
    height: 100%;
    z-index: 3;
    line-height: 2.2rem;
    position: absolute;
  }

  #blackfriday-banner-content-rules {
    width: 75%;
    min-width: min(100%, 700px);
    height: 50%;
    border-radius: 50% 20% / 15% 40%;
  }
</style>
<a class="text-reset" href="/qquoteadv/index/">
<div id="blackfriday-banner-wrapper">
<div id="blackfriday-banner-overlay"></div>
<div id="blackfriday-banner-content-container" class="center p-3">
<div class="display-2 text-light bold">BLACK FRIDAY</div>
<div id="blackfriday-banner-content-rules" class="bg-danger text-light center py-3 px-2 mt-2">
<div class="strong" style="font-size: clamp(1.1rem, 2.3vw, 2.2rem);">On-ge-kend voordeel op het <u><em>gehele</em></u> assortiment!</div>
<div class="" style="font-size: max(.9rem, min(1vw, 1rem)); line-height: 1.3rem;">Van maandag 25 t/m vrijdag 29 november maakt u <strong>uw eigen deal</strong>.<br>Vul uw offerte mandje, <strong>ontvang een offerte binnen 1 werkdag</strong> en <em>scoor</em> die deal!</div>
<div class="strong pt-1" style="font-size: max(0.9rem, min(1vw, 1rem)); text-transform: uppercase; letter-spacing: -.5px;">Maak offerte en ontvang vrijblijvend uw beste Black Friday Deal</div>
</div>
</div>
</div>
</a>
<div id="main-banner" class="fp-banner-v3">
<div class="scale-xs fp-main-banner"><a href="/shop?brand_series=4097&amp;title=Buffalo-600-Serie"> <img id="main-header" class="object-fit-contain" src="//images.chefstore.nl/media/wysiwyg/banners/fp_2024_09_main_inductie_fornuizen.png?v=3&amp;tr=w-613,h-462,c-at_max" alt="Inductie fornuizen" width="613" height="462" name="main-header"> </a></div>
<div class="fp-side-rect-container">
<div class="scale-xs"><a title="Naar de sale" href="/promoties.html"> <img id="side-rect-1" class="object-fit-contain" src="//images.chefstore.nl/media/wysiwyg/banners/fp_2024_06_side_rect_sales.png?v=1&amp;tr=w-609,h-224,c-at_max" alt="Naar de sale" width="609" height="224" name="side-rect-1"> </a></div>
<div class="scale-xs"><a title="Meer informatie over achteraf betalen" href="/tips-achteraf-betalen"> <img id="side-rect-2" class="object-fit-contain" src="//images.chefstore.nl/media/wysiwyg/banners/fp_2024_06_side_rect_bnpl.png?v=2&amp;tr=w-609,h-224,c-at_max" alt="Meer informatie over achteraf betalen" width="609" height="224" name="side-rect-2"> </a></div>
</div>
</div>
<p>{{block type="core/template" name="product_featured" as="product_featured" template="catalog/product/featured.phtml"}}</p>
<div class="fp-banner-container">
<div class="scale-1 fp-banner"><a title="Koelkastisch" href="/koelingen/glasdeurkoelkasten.html"> <img id="side-rect-1" class="object-fit-contain" src="//images.chefstore.nl/media/wysiwyg/banners/fp_2024_11_spui_square_koelkastisch.png?v=1&amp;tr=w-613,h-226,c-at_max" alt="Koelkastisch" width="613" height="226" name="side-rect-1" loading="lazy"> </a></div>
<div class="scale-1 fp-banner"><a title="HENDI UNIQ" href="/shop?brand_series=3865&amp;title=Hendi-UNIQ"> <img id="side-rect-2" class="object-fit-contain" src="//images.chefstore.nl/media/wysiwyg/banners/fp_2024_11_spui_square_uniq.png?v=1&amp;tr=w-613,h-226,c-at_max" alt="HENDI UNIQ" width="613" height="226" name="side-rect-2" loading="lazy"> </a></div>
</div>
<div class="mobile-hide c1">{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="26"}}</div>