<p></p>
<div class="cms-block cms-block--top-teaser">
<div class="cms-block__row">{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="6"}}{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="5"}}</div>
</div>
<p>{{block type="core/template" name="product_featured" as="product_featured" template="catalog/product/featured.phtml}}</p>
<p>{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="4"}}{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="26"}}{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="27"}}</p>
<div class="js-navigation-track cms-block">
<div class="cms-block">
<div class="row bcm-padding-top--1em bcm-padding-bottom--1em">
<div class="column bcm-padding-bottom--2em bcm--center">
<h2 class="font--softreg"><span class="font--blogscript">UW HORECA KOEL- EN VRIES EXPERT</span></h2>
</div>
<div class="column"><a href="/klantenservice"> <img alt="" src="{{media url="wysiwyg/footer.jpg"}}" style="width: 100%;" /> </a></div>
</div>
</div>
</div>