<div id="main-banner" class="fp-banner-v3">
    <div class="scale-xs fp-main-banner">
        <a title="Arktic by Hendi Kortingen"
            href="/promoties/arktic-hendi-actie.html"><img id="main-header" class="object-fit-contain" src="//images.chefstore.nl/media/wysiwyg/banners/2026-02-fp-main-arktic.png?tr=w-613,h-462,q-80,c-at_max,dpr-2" alt="Arktic by Hendi Kortingen" width="613" height="462" name="main-header" loading="eager" fetchpriority="high"></a>
    </div>
    <div class="fp-side-rect-container">
        <div class="scale-xs ms-auto">
        <a title="Polar koelingen en vriezers -- Betaalbare kwaliteit!"
            href="/promoties/polar-energy.html"><img id="side-rect-2" class="object-fit-contain" src="//images.chefstore.nl/media/wysiwyg/banners/2026-06-18-fp-side-polar-sales.png?tr=w-590,h-224,c-at_max,dpr-2" alt="Polar koelingen en vriezers -- Betaalbare kwaliteit!" width="590" height="224" name="side-rect-2" loading="eager" fetchpriority="high"></a>
        </div>
        <div class="scale-xs ms-auto">
            <a title="Naar de sale"
                href="/promoties.html"><img id="side-rect-1" class="object-fit-contain" src="//images.chefstore.nl/media/wysiwyg/banners/2026-02-fp-side-rect-genericsales.png?tr=w-590,h-224,c-at_max,dpr-2" alt="Naar de sale" width="590" height="224" name="side-rect-1" loading="eager" fetchpriority="high"></a>
        </div>
    </div>
</div>
<div>{{block type="core/template" name="product_featured" as="product_featured"
    template="catalog/product/featured.phtml"}}</div>
<div class="py-3">{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="258"}}
</div>
<div class="py-3 fp-banner-container">
    <div class="scale-1 fp-banner">
        <a title="Koelkastisch"
            href="/koelingen/glasdeurkoelkasten.html"><img id="side-rect-1" class="object-fit-contain" src="//images.chefstore.nl/media/wysiwyg/banners/fp_2024_11_spui_square_koelkastisch.png?v=3&amp;tr=&amp;w-613,h-226,c-at_max,dpr-2" alt="Koelkastisch" width="613" height="226" name="side-rect-1" loading="lazy"></a>
    </div>
    <div class="scale-1 fp-banner">
        <a title="HENDI UNIQ"
            href="/shop?brand_series=3865&amp;title=Hendi-UNIQ"><img id="side-rect-2" class="object-fit-contain" src="//images.chefstore.nl/media/wysiwyg/banners/fp_2024_11_spui_square_uniq.png?v=3&amp;tr=w-613,h-226,c-at_max,dpr-2" alt="HENDI UNIQ" width="613" height="226" name="side-rect-2" loading="lazy"></a>
    </div>
</div>
<div class="py-3 mobile-hide c1">
    <div id="brandsbar" class="widget widget-static-block center">
        <ul id="brands" class="m-0">
            <li class="scale-2">
                <a href="/shop?manufacturer=54&amp;cstag=combisteel" title="CombiSteel">
                    <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/combisteel.png" width="150" height="47" alt="CombiSteel">
                </a>
            </li>
            <li class="scale-2">
                <a href="/shop?manufacturer=1800&amp;cstag=emga" title="EMGA">
                    <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/emga.png" width="150" height="47" alt="EMGA">
                </a>
            </li>
            <li class="scale-2">
                <a href="/shop?manufacturer=162&amp;cstag=saro" title="Saro">
                    <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/saro.png" width="150" height="47" alt="Saro">
                </a>
            </li>
            <li class="scale-2">
                <a href="/shop?manufacturer=168&amp;cstag=gram" title="Gram">
                    <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/gram.png" width="150" height="47" alt="Gram">
                </a>
            </li>
            <li class="scale-2">
                <a href="/shop?manufacturer=1292&amp;cstag=diamond" title="Diamond">
                    <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/diamond.png" width="150" height="47" alt="Diamond">
                </a>
            </li>
            <li class="scale-2">
                <a href="/shop?manufacturer=1619&amp;cstag=hendi" title="Hendi">
                    <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/hendi.png" width="150" height="47" alt="Hendi">
                </a>
            </li>
            <li class="scale-2">
                <a href="/shop?manufacturer=1074&amp;cstag=bartscher" title="Bartscher">
                    <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/bartscher.png" width="150" height="47" alt="Bartscher">
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="seo-horeca-apparatuur" class="py-3 mt-2 border-top" data-seo-block="horeca-apparatuur"
    style="padding-top: 2.25rem;">
    <style>
        /* Contain Bootstrap row negative-margin bleed */
        #seo-horeca-apparatuur {
            overflow: hidden;
        }

        #seo-horeca-apparatuur .seo-copy {
            color: #5f6670;
            font-size: 0.94rem;
            line-height: 1.7;
        }

        #seo-horeca-apparatuur h1,
        #seo-horeca-apparatuur h2,
        #seo-horeca-apparatuur h3 {
            color: #2f3742;
            font-size: 1.05rem;
            line-height: 1.35;
            margin: 0 0 0.65rem;
        }

        #seo-horeca-apparatuur h1 {
            font-size: 1.2rem;
        }

        #seo-horeca-apparatuur p {
            margin-bottom: 0.85rem;
        }

        #seo-horeca-apparatuur .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -0.75rem;
            margin-left: -0.75rem;
        }

        #seo-horeca-apparatuur .col-12,
        #seo-horeca-apparatuur .col-lg-6 {
            position: relative;
            width: 100%;
            padding-right: 0.75rem;
            padding-left: 0.75rem;
        }

        @media (min-width: 992px) {
            #seo-horeca-apparatuur .col-lg-6 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    </style>
    <section class="seo-copy" aria-label="Informatie over horeca apparatuur" itemscope
        itemtype="https://schema.org/WebPageElement">
        <div class="row g-3 g-lg-4">
            <div class="col-12 col-lg-6">
                <h1>Horeca apparatuur</h1>
                <p>
                    Bij Chefstore vindt u alles op het gebied van
                    horeca apparatuur voor uw horeca onderneming. Onze horeca webshop bevat producten zoals
                    <a href="https://www.chefstore.nl/koelingen/alle-koelkasten.html">horeca koelkasten</a>,
                    <a href="https://www.chefstore.nl/koelingen/horeca-vriezers.html">vriezers</a>,
                    <a href="https://www.chefstore.nl/koelingen/koelwerkbanken.html">koelwerkbanken</a>,
                    <a href="https://www.chefstore.nl/koelingen/koelvitrines.html">koelvitrines</a>,
                    <a href="https://www.chefstore.nl/apparatuur-1.html">keukenapparatuur</a>,
                    <a href="https://www.chefstore.nl/apparatuur-1/ovens-steamers-en-magnetrons.html">ovens</a>,
                    <a href="https://www.chefstore.nl/apparatuur-1/warme-bereiding.html">apparatuur voor warme
                        bereiding</a>,
                    <a href="https://www.chefstore.nl/rvs.html">rvs producten</a> en nog veel meer.
                    Dankzij ons brede assortiment kunt u uw complete horecakeuken eenvoudig en efficiënt inrichten.
                </p>

                <h2>Horeca apparatuur van hoge kwaliteit</h2>
                <p>
                    De producten die wij verkopen zijn uitsluitend van de hoogste kwaliteit en van A-merken zoals
                    <a href="https://www.chefstore.nl/l/merken/combisteel.html">Combisteel</a>,
                    <a href="https://www.chefstore.nl/l/merken/hendi.html">Hendi</a>,
                    <a href="https://www.chefstore.nl/l/merken/diamond.html">Diamond</a>,
                    <a href="https://www.chefstore.nl/l/merken/bartscher.html">Bartscher</a>,
                    <a href="https://www.chefstore.nl/l/merken/liebherr-professional.html">Liebherr</a> en meer.
                    Deze merken leveren apparatuur die jarenlang meegaat, energiezuinig en onderhoudsvriendelijk zijn.
                </p>
            </div>

            <div class="col-12 col-lg-6">
                <p>
                    Naast grote apparatuur bieden wij ook een ruim assortiment kleinmateriaal, zoals
                    <a href="https://www.chefstore.nl/keukengerei.html">keukengerei</a>,
                    <a href="https://www.chefstore.nl/bar-en-tafelgerei.html">bar- en tafelgerei</a> en
                    <a href="https://www.chefstore.nl/meubilair.html">meubilair</a>.
                    Ook voor
                    <a href="https://www.chefstore.nl/hygiene.html">hygiëneproducten</a> en schoonmaakartikelen bent u
                    bij ons aan het juiste adres.
                    Alles wat u nodig heeft om professioneel, veilig en efficiënt te werken vindt u op één plek.
                </p>

                <h2>Alles voor de professionele keuken</h2>
                <p>
                    Of u nu een compleet nieuwe keuken wilt inrichten of slechts één apparaat wilt vervangen,
                    bij Chefstore profiteert u van een ruim aanbod, scherpe prijzen en snelle levering.
                    Bekijk het volledige assortiment
                    <a href="https://www.chefstore.nl/apparatuur-1.html">horeca apparatuur</a>.
                    Wij begrijpen dat stilstand in de horeca geen optie is, daarom zorgen wij ervoor dat u snel weer
                    verder kunt.
                </p>

                <h3>Advies en service op maat</h3>
                <p>
                    Iedere horecazaak is anders. Daarom denken wij graag met u mee over de juiste apparatuur
                    voor uw situatie. Neem gerust <a class="glightbox4 btn btn-primary" href="/media/static/contact.php"
                        data-glightbox="effect:fade; width:600px;"><i class="fa fa-phone fa-fw" title="Bellen"></i>contact
                        met ons op</a>.
                    Ons team staat klaar om u te voorzien van deskundig advies, zodat u altijd de juiste keuze maakt.
                </p>
            </div>
        </div>
    </section>
</div>