<div class="ksdvlefttop">
<h1>Klantenservice</h1>
<h2>Wat kunnen wij voor u doen?</h2>
<ul>
<li><a href="#belmet">Bel met een klantadviseur over uw zorgverzekering</a></li>
<li><a href="#social">Stel uw vraag via Internet</a></li>
<li><a href="#bestellen">Bel met een zorgadviseur voor persoonlijk zorgadvies</a></li>
<li><a href="#contact">Vinci zelf het antwoord op uw vraag</a></li>
</ul>
</div>
<div class="ksdvrighttopblk">
<h4>Meest gestelde vragen</h4>
<ul class="clztoggleulx">
<li><a href="#">Kan ik ook op rekening bestellen?</a><span>Wilt u op rekening bestellen? Neem dan contact met ons op.</span></li>
<li><a href="#">Wanneer betaal ik geen verzendkosten?</a><span>Vanaf &euro;150,00 betaalt u geen verzendkosten in Nederland en Belgie</span></li>
<li><a href="#">Kan ik extra korting krijgen?</a><span>Wij werken met zeer scherpe prijzen, in enkele gevallen kunnen wij samen met onze leveranciers eenmalige extra kortingen verstrekken. Voor een offerte op maat neemt u contact met ons op via <a href="mailto:info@prokoeling.nl">info@prokoeling.nl</a></span></li>
<li id="bestellen"><a href="#">Wanneer wordt mijn bestelling bezorgd?</a><span>Na uw bestelling laten wij u de volgende werkdag per email weten wat de verwachtte leverdatum is. 99% van onze bestellingen wordt geleverd binnen de op de website genoemde levertermijn.</span></li>
<li><a href="#">Bezorgen jullie ook in Belgi&euml;?</a><span>Ja, wij bezorgen ook in Belgie, Duitsland, Frankrijk en Luxemburg</span></li>
</ul>
</div>
<div style="clear: both;">&nbsp;</div>
<div class="dvbottomx">
<ul>
<li><strong>Bestellen</strong></li>
<li><a href="#">Status bestelling</a></li>
<li><a href="#">Bestelling wijzigen of annuleren</a></li>
<li><a href="#">Voorraadlnformaue</a></li>
<li class="moreliclz"><a href="/bestellen">Lees meer &gt;</a></li>
</ul>
<ul>
<li><strong>Betalen</strong></li>
<li><a href="#">Betaalrnethodes</a></li>
<li><a href="#">Betaling Iukt niet</a></li>
<li><a href="#">Terugbetallng</a></li>
<li><a href="#">Fraudecheck</a></li>
<li class="moreliclz"><a href="/betalen">Lees meer &gt;</a></li>
</ul>
<ul>
<li><strong>Bezorgen</strong></li>
<li><a href="#">Bezorgmethodes</a></li>
<li><a href="#">Verzendkosten</a></li>
<li><a href="#">Bestelllng ts Incompleet</a></li>
<li class="moreliclz"><a href="/bezorgen">Lees meer &gt;</a></li>
</ul>
<ul>
<li><strong>Garantle en reparatle</strong></li>
<li><a href="#">Artikel kapot gegaan</a></li>
<li><a href="#">Status reparatie</a></li>
<li><a href="#">Gatantle</a></li>
<li class="moreliclz"><a href="/garantle-en-reparatle">Lees meer &gt;</a></li>
</ul>
<ul>
<li><strong>Retourneren</strong></li>
<li><a href="#">Retourmogelijkheden</a></li>
<li><a href="#">Status retour</a></li>
<li><a href="#">Defect of vetkeerd artifice!</a></li>
<li class="moreliclz"><a href="/retourneren">Lees meer &gt;</a></li>
</ul>
<ul>
<li><strong>Mijn account</strong></li>
<li><a href="#">Orderhistorie</a></li>
<li><a href="#">Gegevens wijzigen</a></li>
<li><a href="#">Bijenkorf Card koppelen</a></li>
<li><a href="#">Privilege Membership</a></li>
<li class="moreliclz"><a href="/customer/account/login">Mijn account &gt;</a></li>
</ul>
<div style="clear: both;">&nbsp;</div>
</div>
<div class="klcontactbx" id="belmet">
<ul>
<li><a href="/customer/account/login" style="display: block;"><strong class="kluserico">Mijn PROKOELING</strong><span>Log-in of maak uw account aan</span></a></li>
<li><a href="mailto:info@prokoeling.nl" style="display: block;"><strong class="klenvico">EMAIL</strong><span>Stuur een email aan Prokoeling.nl</span></a></li>
<li><a href="tel:+31850441003" style="display: block;"><strong class="kltelico">BEL ONS</strong><span>Bel direct met de klantenservice</span></a></li>
</ul>
<div style="clear: both;">&nbsp;</div>
</div>
<div class="dvbotm">
<div>
<div class="servicegtopleftbx">
<h2>Klantenservice</h2>
<p>Bel <strong style="font-weight: bold;">085-0441003</strong> voor al uw vragen.<br /><br />Op werkdagen van 08.30 tot 17.30 uur<br />Voor dit telefoonnummer betaalt u uw gebruikelijke belkosten.</p>
</div>
<div class="btnbltpright" style="height: 205px;">
<div align="left">
<h2>Heeft u vragen voor onze productexperts?</h2>
<p>Heeft u product gerelateerde vragen? Of wilt u meer bestellen dan alleen koelapparatuur? Kan de deur van deze koeling worden omgedraaid?</p>
<p>Neem contact met ons op, bij voorkeur via het onderstaande formulier. Wij zijn ook telefonisch en per email bereikbaar.</p>
</div>
</div>
<div style="clear: both;">&nbsp;</div>
</div>
<div>
<div class="clzleftbtnsvr" style="height: 207px;">
<h2 style="font-weight: bold;">Mijn Prokoeling</h2>
<p>Wist u dat al uw bestellingen en facturen in uw eigen online omgeving staan opgeslagen?</p>
<p>Nog geen account? Maak dan een account aan:</p>
<p><a class="btnaclnksd" href="/customer/account/create">Create Account</a>&nbsp;<a class="btnaclnksd" href="/customer/account/login">Login</a></p>
</div>
<div class="clzrightlasth"><img alt="" src="{{media url="wysiwyg/Klantadviseur-klantenservice.png"}}" /></div>
<div style="clear: both;">&nbsp;</div>
</div>
<div id="social" style="clear: both;">&nbsp;</div>
</div>
<div class="row-fluid" style="padding-top: 80px;">
<div class="clzleftsoci"><img alt="" src="{{media url="wysiwyg/How-to-Build-a-Social-Media-Dream-Team.jpg"}}" /></div>
<div class="clzftsocrt">
<div style="text-align: left;">
<h2>Social media</h2>
<p>Neem contact met ons op via <a href="#" style="color: #009ee0;">Facebook</a>. Onsi klantenservice team reageert zo spoedig mogelijk.</p>
<p>Op werkdagen meestal tussen 08.00 en 22.00 binnen 1 uur, in het weekend tussen 10.00 en 18.00 binnen 3 uur. Op werkdagen meestal tussen 08.00 en 22.00 binnen 1 uur, in het weekend tussen 10.00 en 18.00 binnen 3 uur.</p>
<p id="contact">Deel geen adres of betalingsgegevens online. Wij zullen ook nooit om uw rekeningnummer vragen.</p>
</div>
</div>
</div>
<div style="clear: both;">&nbsp;</div>
<div class="clzcontactfrm">
<p>{{block type="core/template" name="contactForm" form_action="/contacts/index/post" template="contacts/form.phtml"}}</p>
</div>