<style><!--
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 18em;
    text-align: center;
    padding: 2em;
    margin: 1em;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  @media (max-width: 1200px) {
    .col-1-3 {
      width: 100%;
    }
    .card {
      padding: 1em;
    }
  }
--></style>
<h1 style="font-size: 2em;">Snel reageren op corona?</h1>
<p>Allereerst: Chefstore.nl wenst iedereen veel sterkte met deze situatie.</p>
<p>De wereld ligt zo goed als stil. Ondernemers worden keihard geraakt, zo ook de horeca&nbsp;ondernemers. Restaurants zijn gesloten, terwijl de kosten wel doorlopen. Met een dicht&nbsp;restaurant is het niet mogelijk om geld te verdienen. Daarom hebben Chefstore.nl en&nbsp;Forwardis hun krachten gebundeld. Om de horeca ondernemers te helpen met een directe&nbsp;oplossing: online bestellen. Met een eigen bestelsite is het makkelijk om consumenten&nbsp;online te laten bestellen en alsnog omzet te maken. Ook als het coronavirus straks achter&nbsp;ons ligt.&nbsp;</p>
<p>Door de samenwerking van Chefstore.nl met Forwardis kunnen wij het totaalpakket aanbieden tegen kostprijs. Dat betekent een&nbsp;eigen bestelsite, binnen 1 tot 2 dagen online en met alle gemakken voorzien. De website is&nbsp;uniek en volledig in beheer van de ondernemer. We werken met een betalingsregeling,&nbsp;omdat we begrijpen dat sommige ondernemers nu het geld niet kunnen missen. Dat komt&nbsp;later wel. De prioriteit ligt nu bij omzet genereren om deze tijden door te komen.&rsquo;&rsquo;</p>
<p>Corona houdt de horeca in haar greep, maar afhalen en bezorgen zijn <em>booming</em>. Distributie is vaak snel geregeld, maar hoe kunt u snel en eenvoudig orders aannemen van uw klanten? <strong>De thuisbezorgersmarkt werkt vaak met hoge commissies en zetten zo direct druk op uw marges</strong>, hoe succesvol u ook wordt. Voor klanten die daar geen zin in hebben, zijn wij op zoek gegaan naar een partij die snel een eenvoudige doch aantrekkelijke website kan lanceren, zodat u direct aan de slag kunt. Dit is een <strong>full-service pakket</strong>, inclusief ontwikkeling, hosting, betaalmethoden, support en digitale marketing. <strong>En dat alles voor een vast bedrag</strong>.<br /><br /></p>
<div class="container" style="min-height: 21em;">
<div class="col-1-3">
<div class="card"><em class="fa fa-plus fa-2x" style="color: #ed7e2f;"></em>
<h3>Blijf in bedrijf</h3>
<div class="container">
<p>De bezorg- en afhaalmarkt blijft sterk, juist nu.</p>
</div>
</div>
</div>
<div class="col-1-3">
<div class="card"><em class="fa fa-plus fa-2x" style="color: #ed7e2f;"></em>
<h3>Geen commissie</h3>
<div class="container">
<p>U betaalt een jaarlijks, vast bedrag voor ontwikkeling en onderhoud. U mag zoveel omzet draaien als u wilt, de kosten blijven hetzelfde.</p>
</div>
</div>
</div>
<div class="col-1-3">
<div class="card"><em class="fa fa-plus fa-2x" style="color: #ed7e2f;"></em>
<h3>Snel online</h3>
<div class="container">
<p>Het is belangrijk uw bestaande klantenkring te behouden. In een paar dagen bent u in bedrijf op ons platform, inclusief betaalmodule, winkelwagentje, en online marketing.</p>
</div>
</div>
</div>
</div>
<div class="container" style="min-height: 15em;"><img alt="Forwardis Logo" height="28" src="https://forwardis.nl/wp-content/themes/forwardis/assets/images/logo-forwardis.png" width="212" /> <br />Om dit te realiseren zijn we een partnership aangegaan met <strong>Forwardis</strong>:<br /><br /> <em>Onze ambitie is om horeca-ondernemers te helpen. Bij te nemen beslissingen op het gebied van marketing- en communicatie zijn wij direct beschikbaar voor vragen en om mee te denken. Indien u, in plaats van een voorzetting in de vorm van afhalen en bezorgen naar uw bestaande klantenkring, deze periode wilt benutten om uw zaak &lsquo;op orde&rsquo; te brengen, zijn wij uiteraard ook beschikbaar voor vragen of ondersteuning.</em><br /><br /></div>
<h2>Voorbeelden van reeds gerealiseerde projecten:</h2>
<div class="container" style="min-height: 25em;">
<div class="col-1-2"><a href="/media/wysiwyg/blogs/landing-thuisbezorgen-voorbeeld-1.jpg" target="_blank"> <img height="100%" src="/media/wysiwyg/blogs/landing-thuisbezorgen-voorbeeld-1.jpg" style="padding: 1em; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);" width="100%" /> </a></div>
<div class="col-1-2"><a href="/media/wysiwyg/blogs/landing-thuisbezorgen-voorbeeld-2.png" target="_blank"> <img height="100%" src="/media/wysiwyg/blogs/landing-thuisbezorgen-voorbeeld-2.png" style="padding: 1em; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);" width="100%" /> </a></div>
</div>
<h2 style="font-size: 1.5em;">Interesseformulier om snel commissie-vrij uw waar te bezorgen en af te laten halen</h2>
<p><iframe frameborder="0" height="240" id="JotFormIFrame-200773724387057" scrolling="no" src="https://form.jotform.com/200773724387057" style="min-width: 100%; height: 539px; border: none;" title="Commissie-vrij bezorgen en take-away" width="320"></iframe></p>
<p>
<script type="text/javascript">// <![CDATA[
var ifr = document.getElementById("JotFormIFrame-200773724387057");
    if(window.location.href && window.location.href.indexOf("?") > -1) {
      var get = window.location.href.substr(window.location.href.indexOf("?") + 1);
      if(ifr && get.length > 0) {
        var src = ifr.src;
        src = src.indexOf("?") > -1 ? src + "&" + get : src  + "?" + get;
        ifr.src = src;
      }
    }
    window.handleIFrameMessage = function(e) {
      if (typeof e.data === 'object') { return; }
      var args = e.data.split(":");
      if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[(args.length - 1)]); } else { iframe = document.getElementById("JotFormIFrame"); }
      if (!iframe) { return; }
      switch (args[0]) {
        case "scrollIntoView":
          iframe.scrollIntoView();
          break;
        case "setHeight":
          iframe.style.height = args[1] + "px";
          break;
        case "collapseErrorPage":
          if (iframe.clientHeight > window.innerHeight) {
            iframe.style.height = window.innerHeight + "px";
          }
          break;
        case "reloadPage":
          window.location.reload();
          break;
        case "loadScript":
          var src = args[1];
          if (args.length > 3) {
            src = args[1] + ':' + args[2];
          }
          var script = document.createElement('script');
          script.src = src;
          script.type = 'text/javascript';
          document.body.appendChild(script);
          break;
        case "exitFullscreen":
          if      (window.document.exitFullscreen)        window.document.exitFullscreen();
          else if (window.document.mozCancelFullScreen)   window.document.mozCancelFullScreen();
          else if (window.document.mozCancelFullscreen)   window.document.mozCancelFullScreen();
          else if (window.document.webkitExitFullscreen)  window.document.webkitExitFullscreen();
          else if (window.document.msExitFullscreen)      window.document.msExitFullscreen();
          break;
      }
      var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
      if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
        var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)};
        iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*");
      }
    };
    if (window.addEventListener) {
      window.addEventListener("message", handleIFrameMessage, false);
    } else if (window.attachEvent) {
      window.attachEvent("onmessage", handleIFrameMessage);
    }
// ]]></script>
</p>