<div class="info-box info-box-not-found">
  <div class="info-box-inner">
    <h1 class="xxl">Helaas...</h1>
    <p>Die pagina kunnen we niet vinden (404). Onze excuses voor het ongemak. Gebruik de zoekbalk hierboven of ga terug.</p>

    <h1>Hoe kunnen we je helpen?</h1>
    <ul class="disc-list">
      <li>Type een paar zoekwoorden in de <strong>zoekbalk</strong> hierboven</li>
      <li>Zoek naar de pagina via de links in het menu</li>
      <li><a href="//">Naar de Homepage</a></li>
      <li><a href="/klantenservice">Naar Klantenservice</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>
