<style>
  .faqitem {
    background-color: #f6f6f6;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    padding: 1em;
    max-width: 300px;
    width: 100%;
    margin-bottom: 2em;
  }
  .faqitems__crooked {
    background: #3aacd9;
    -webkit-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
    width: 100%;
    padding: 5em 0 3em 0;
  }
  .faqitems__container {
    -webkit-transform: rotate(1.5deg);
    transform: rotate(1.5deg);
  }
</style>

<div class="info-box info-box-service no-border">
  <h1 class="xxl">Klantenservice</h1>

  <div class="faqitems__crooked">
    <div class="faqitems__container">
      <a href="/klantenservice" class="faqitem center">
        <div class="center">
          <i class="fa fa-question fa-2x" aria-hidden="true"></i>
        </div>
        <div class="center">
          <h3>Veelgestelde vragen</h3>
        </div>
      </a>

      <a href="/service" class="faqitem center">
        <div class="center">
          <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
        </div>
        <div class="center">
          <h3>Serviceverzoek</h3>
        </div>
      </a>
      
      <a href="tel:+31850441003" class="faqitem center">
        <div class="center">
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
        </div>
        <div class="center">
          <h3>Bel ons op +31 85 0441003</h3>
        </div>
      </a>
    </div>
  </div>
</div>
