<!--no_auto_desc--><!--no_more_btn-->
<h1>Black November COMBISTEEL 2020 Deals</h1>

<div class="center" style="
    padding: 1em;
    border: 1px solid black;
    background-color: #000;
    color: #efefef;
    font-weight: 700;
    font-size: 2em;
    line-height: 1em;
    min-height: 3em;">
<span id="countdown"></span></div>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Nov 30, 2020 23:59:59").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("countdown").innerHTML = "U heeft nog <span style='color:red;'>" + days + "d " + hours + " uur "
  + minutes + " min " + seconds + " sec</span>";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "Black Friday is afgelopen!";
  }
}, 1000);
</script>

<p>Populaire CombiSteel modellen met extra korting!<p>

<p style="color: #eee; background-color: #000; font-size: 1.2em;">Voor <strong>BARTSCHER, POLAR, ECOFROST, BUFFALO, en andere merken</strong> Black Friday deals, zie <a style="color:red;" href="/promoties/v-black-november-2020.html"><strong>HIER</strong></a></p>

<!------------------------------------------------------------------------------------------------------->

<!--no_auto_desc--><!--no_more_btn-->
<h1>Black November 2020 Deals</h1>

<img src='/media/wysiwyg/banners/cat_202011_black_friday.jpg' style='width:100%;'>

<div class="center" style="
    padding: 1em;
    border: 1px solid black;
    background-color: #000;
    color: #efefef;
    font-weight: 700;
    font-size: 2em;
    line-height: 1em;
    min-height: 3em;">
<span id="countdown"></span></div>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Nov 30, 2020 23:59:59").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("countdown").innerHTML = "U heeft nog <span style='color:red;'>" + days + "d " + hours + " uur "
  + minutes + " min " + seconds + " sec</span>";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "Black Friday is afgelopen!";
  }
}, 1000);
</script>

<p>De beste deals in donkere dagen...nu <b>extra korting op alles in deze categorie</b>. Vul de couponcode <b>BLACKFRIDAY</b> in voor 7,5% extra korting op deze producten!</p>

<p style="color: #eee; background-color: #000; font-size: 1.2em;">Voor <strong>COMBISTEEL</strong> Black Friday deals, zie <a style="color:red;" href="/promoties/v-black-november-combisteel-2020.html"><strong>HIER</strong></a></p>

<!------------------------------------------------------------------------------------------------------->
