<?xml version="1.0"?>
<config>
    <modules>
        <Geissweb_Euvatgrouper>
            <version>1.8.6</version>
        </Geissweb_Euvatgrouper>
    </modules>
    <global>
        <models>
            <euvatgrouper>
                <class>Geissweb_Euvatgrouper_Model</class>
            </euvatgrouper>
            <tax>
                <rewrite>
                    <config>Geissweb_Euvatgrouper_Model_Tax_Config</config>
                    <!--
                    <calculation>Geissweb_Euvatgrouper_Model_Tax_Calculation</calculation>
                    -->
                </rewrite>
            </tax>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <customer_edit_tab_addresses>Geissweb_Euvatgrouper_Block_Adminhtml_Customer_Edit_Tab_Addresses</customer_edit_tab_addresses>
                    <customer_sales_order_address_form_renderer_vat>Geissweb_Euvatgrouper_Block_Adminhtml_Customer_Sales_Order_Address_Form_Renderer_Vat</customer_sales_order_address_form_renderer_vat>
                    <sales_order_create_form_account>Geissweb_Euvatgrouper_Block_Adminhtml_Customer_Sales_Order_Create_Form_Account</sales_order_create_form_account>
                    <sales_order_view_info>Geissweb_Euvatgrouper_Block_Adminhtml_Sales_Order_View_Additional</sales_order_view_info>
                </rewrite>
            </adminhtml>
            <euvatgrouper>
                <class>Geissweb_Euvatgrouper_Block</class>
            </euvatgrouper>
        </blocks>
        <helpers>
            <euvatgrouper>
                <class>Geissweb_Euvatgrouper_Helper</class>
            </euvatgrouper>
        </helpers>
        <template>
            <email>
                <euvatgrouper_email_settings_mail_template translate="label" module="euvatgrouper">
                    <label>EU VAT validation results</label>
                    <file>geissweb_vat_validation.html</file>
                    <type>html</type>
                </euvatgrouper_email_settings_mail_template>
            </email>
        </template>
        <resources>
            <euvatgrouper_setup>
                <setup>
                    <module>Geissweb_Euvatgrouper</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </euvatgrouper_setup>
            <euvatgrouper_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </euvatgrouper_write>
            <euvatgrouper_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </euvatgrouper_read>
        </resources>
        <events>
            <customer_login>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>customerLogin</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </customer_login>
            <customer_save_before>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>customerSaveBefore</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </customer_save_before>
            <customer_address_save_before>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>customerAddressSaveBefore</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </customer_address_save_before>
            <vat_check_after>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>vatCheckAfter</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </vat_check_after>
            <vat_check_success_email>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>sendSuccessMail</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </vat_check_success_email>
            <tax_rate_data_fetch>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>taxRateDataFetch</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </tax_rate_data_fetch>
            <sales_quote_address_collect_totals_before>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>salesQuoteAddressCollectTotalsBefore</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </sales_quote_address_collect_totals_before>
            <sales_convert_quote_to_order>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>salesConvertQuoteToOrder</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </sales_convert_quote_to_order>
            <adminhtml_customer_save_after>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>adminhtmlCustomerSaveAfter</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </adminhtml_customer_save_after>
            <sales_order_place_before>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>salesOrderPlaceBefore</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <vat_is_valid>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </vat_is_valid>
                <vat_request_date>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </vat_request_date>
                <vat_request_id>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </vat_request_id>
                <vat_request_success>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </vat_request_success>
                <vat_trader_name>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </vat_trader_name>
                <vat_trader_address>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </vat_trader_address>
            </sales_convert_quote_address>
            <customer_address>
                <vat_id>
                    <to_quote_address>*</to_quote_address>
                </vat_id>
                <vat_is_valid>
                    <to_quote_address>*</to_quote_address>
                </vat_is_valid>
                <vat_request_date>
                    <to_quote_address>*</to_quote_address>
                </vat_request_date>
                <vat_request_id>
                    <to_quote_address>*</to_quote_address>
                </vat_request_id>
                <vat_request_success>
                    <to_quote_address>*</to_quote_address>
                </vat_request_success>
                <vat_trader_name>
                    <to_quote_address>*</to_quote_address>
                </vat_trader_name>
                <vat_trader_address>
                    <to_quote_address>*</to_quote_address>
                </vat_trader_address>
            </customer_address>
        </fieldsets>
        <!-- PHP7 TOTALS START
        <sales>
            <quote>
                <totals>
                    <nominal>
                        <class>sales/quote_address_total_nominal</class>
                        <before>subtotal</before>
                    </nominal>
                    <subtotal>
                        <class>sales/quote_address_total_subtotal</class>
                        <after>nominal</after>
                        <before>grand_total</before>
                    </subtotal>
                    <shipping>
                        <class>sales/quote_address_total_shipping</class>
                        <after>subtotal,freeshipping,tax_subtotal,msrp</after>
                        <before>grand_total</before>
                    </shipping>
                    <grand_total>
                        <class>sales/quote_address_total_grand</class>
                        <after>subtotal</after>
                    </grand_total>
                    <msrp>
                        <class>sales/quote_address_total_msrp</class>
                        <before>grand_total</before>
                    </msrp>
                </totals>
            </quote>
        </sales>
        PHP7 TOTALS END -->
    </global>
    <frontend>
        <routers>
            <euvatgrouper>
                <use>standard</use>
                <args>
                    <module>Geissweb_Euvatgrouper</module>
                    <frontName>vatcheck</frontName>
                </args>
            </euvatgrouper>
        </routers>
        <translate>
            <modules>
                <euvatgrouper>
                    <files>
                        <default>Geissweb_Euvatgrouper.csv</default>
                    </files>
                </euvatgrouper>
            </modules>
        </translate>
        <layout>
            <updates>
                <geissweb_euvatgrouper>
                    <file>euvatgrouper.xml</file>
                </geissweb_euvatgrouper>
            </updates>
        </layout>
    </frontend>
    <default>
        <euvatgrouper>
            <extension_info>
                <license_key><![CDATA[25QH-M41V-I1IH-KA84-6D2A]]></license_key>
                <debug_mode>0</debug_mode>
                <osc_integration/>
            </extension_info>
            <vat_settings>
                <validate_vatid>0</validate_vatid>
                <require_valid_number_to_checkout>0</require_valid_number_to_checkout>
                <excluded_groups_taxcalc/>
                <regular_tax_groups/>
            </vat_settings>
            <group_assignment>
                <target_group>1</target_group>
                <target_group_same_cc>1</target_group_same_cc>
                <target_group_outside>1</target_group_outside>
                <target_group_invalid>1</target_group_invalid>
                <target_group_errors>1</target_group_errors>
                <force_general_on_vat>0</force_general_on_vat>
            </group_assignment>
            <integration>
                <auto_set_country>0</auto_set_country>
                <auto_set_country_customer_confirm>0</auto_set_country_customer_confirm>
            </integration>
        </euvatgrouper>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <geissweb_euvatgrouper after="Mage_Adminhtml">Geissweb_Euvatgrouper_Adminhtml</geissweb_euvatgrouper>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <geissweb_notification>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_check_for_updates</method>
                    </geissweb_notification>
                </observers>
            </controller_action_predispatch>
            <adminhtml_block_html_before>
                <observers>
                    <geissweb_euvatgrouper>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </geissweb_euvatgrouper>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <translate>
            <modules>
                <euvatgrouper>
                    <files>
                        <default>Geissweb_Euvatgrouper.csv</default>
                    </files>
                </euvatgrouper>
            </modules>
        </translate>
        <layout>
            <updates>
                <euvatgrouper>
                    <file>euvatgrouper.xml</file>
                </euvatgrouper>
            </updates>
        </layout>
    </adminhtml>
</config>