<h2 class="headaccregr">Waarom Chefstore.nl</h2>
<ul class="clzulres">
<li>Altijd de beste prijs</li>
<li>Wij vergelijken de prijzen</li>
</ul>
<ul class="clzulres">
<li>Alleen professionele apparatuur</li>
<li>Advies door professionals</li>
</ul>
<ul class="clzulres">
<li>Gratis verzending vanaf &euro;150,-</li>
<li>Snelle levering</li>
</ul>
<div class="sprite-with-caption kservice">
<div class="sprite-with-caption__icon icons icons__kservice"></div>
<div class="sprite-with-caption__caption ">Klantenservice</div>
</div>
<p><a class="clzpnminconbottom" href="tel:0850441003" title="Phone"><strong>+31 (0) 85-0441003</strong></a></p>