<h2>UNIQ: Buffet opnieuw uitgevonden</h2>
<p>Gedurfd en mooi, precies wat nodig is om een unieke buffetpresentaties te cre&euml;ren. De UNIQ-collectie is een goed voorbeeld van hoe design, kwaliteit en gemak hand in hand kunnen gaan als een product wordt ontwikkeld met de wensen van de gebruiker in gedachten.</p>
<ul class="indented-disc">
<li>Behuizing gemaakt van hittebestendig polypropyleen</li>
<li>Verwarmingselement van roestvast staal</li>
<li>Aflopende rand in het deksel dat condenswater terugvoert in de container</li>
<li>Ge&iuml;ntegreerde kaarthouder op het deksel voor naamkaarten</li>
</ul>
<div class="row center clearfix"><iframe title="YouTube video player" src="https://www.youtube-nocookie.com/embed/srNOhl8Uc1E?autoplay=0&amp;fs=1" width="560" height="315" frameborder="0"></iframe></div>
