<div class="checkout-trusted-icons three-items middle-wider"><img alt="eKomi" class="icon-ekomi icon trusted-icon-first" src="https://connect.ekomi.de/seal/AEF431A6969714E-70x70.png" />
<div class="trusted-text">
<p><span class="f-bold">EKOMI</span><br />Jouw mening telt</p>
</div>
<div class="icon-thuiswinkel icon"></div>
<div class="trusted-text trusted-text-with-list">
<ul>
<li>
<div class="ie-before"></div>
Snelle levertijden</li>
<li>
<div class="ie-before"></div>
Gratis bezorging vanaf &euro;150,-</li>
<li>
<div class="ie-before"></div>
Retourrecht: 30 dagen</li>
</ul>
<ul class="trusted-list-last">
<li>
<div class="ie-before"></div>
Veilige betaalomgeving (SSL)</li>
<li>
<div class="ie-before"></div>
Onafhankelijke klachtenbemiddeling</li>
</ul>
</div>
<div class="icon-ssl icon"></div>
<div class="trusted-text">
<p>Veilig winkelen dankzij SSL-codering</p>
</div>
</div>