<div class="cart-features">
<h3>Onze service:</h3>
<ul class="cart-service-list">
<li class="cart-delivery">
<div class="icon-delivery"></div>
<div class="label-for-icon"><strong>Gratis</strong> Verzending vanaf &euro;150,-</div>
</li>
<li class="cart-return">
<div class="icon-return"></div>
<div class="label-for-icon"><strong>Uitstekend</strong> product advies</div>
</li>
<li class="cart-sale">
<div class="icon-discount"></div>
<div class="label-for-icon"><strong>Veel producten</strong> 40% korting</div>
</li>
</ul>
</div>