<div class="tile-banners text-center">
<ul class="html5-grid html5-grid-4-col">
<li class="scale-1 fp-banner fp-banner-dark"><a title="Aanbiedingen van de maand" href="/promoties/deals-on.html"><img src="//images.chefstore.nl/media/wysiwyg/banners/cat_sales_tijdelijk_v3.png?v=1&amp;tr=w-282,h-229,q-75,c-at_max" width="282" height="229"></a></li>
<li class="scale-1 fp-banner fp-banner-dark"><a title="Outlet" href="/promoties/outlet.html"><img src="//images.chefstore.nl/media/wysiwyg/banners/cat_sales_outlet_v3.png?v=3&amp;tr=w-282,h-229,c-at_max" width="282" height="229"></a></li>
<li class="scale-1 fp-banner fp-banner-dark"><a title="Outlet" href="/promoties/2025-diverso-by-diamond.html"><img src="//images.chefstore.nl/media/wysiwyg/banners/cat_sales_diverso_diamond.png?v=1&amp;tr=w-282,h-229,c-at_max" width="282" height="229"></a></li>
<li class="scale-1 fp-banner fp-banner-dark"><a title="Outlet" href="/promoties/arktic-hendi-actie.html"><img src="//images.chefstore.nl/media/wysiwyg/banners/cat_sales_arktic.png?v=1&amp;tr=w-282,h-229,c-at_max" width="282" height="229"></a></li>
</ul>
</div>
