<p dir="ltr"><img alt="Klantenservice voor telefonisch contact" height="75" src="{{media url="wysiwyg/customerservice.jpg"}}" style="float: right;" title="customer service" width="120" /></p>
<p dir="ltr"></p>
<p dir="ltr">Welkom bij de Chefstore.nl klantenservice. Al je vragen worden hier beantwoord.</p>
<p>Mocht je desondanks een vraag hebben die hier niet beantwoord wordt, stuur dan een email naar <strong><a href="mailto:klantenservice@chefstore.nl" title="klantenservice@chefstore.nl">klantenservice@chefstore.nl</a>&nbsp;of neem contact met ons op:&nbsp;+31 (0) 85-0441003</strong></p>
<p dir="ltr">Je vraag wordt meestal dezelfde dag nog in behandeling genomen.</p>
<p dir="ltr"></p>
<p><span id="docs-internal-guid-cfe35335-68c8-7c88-14c5-487d8c1b1338">&nbsp;</span></p>