<div class="cms-block">
<div class="row bcm-padding-bottom--3em">
<div class="col-1-2">
<div class="dy_kci_block" id="NL_KCI_LEFT">
<div class="dy_unit dy_smart_object_232945 dyother dyMonitor">
<div class="dy_kci_block" id="dy_5072879"><a href="/koelwerkbanken/saladettes/saladette-2-deurs-240-liter-rvs-ecofrost.html"> <img height="271" src="{{media url="wysiwyg/saladette-ecofrost.jpg"}}" width="476" /> </a>
<div></div>
</div>
</div>
</div>
</div>
<div class="col-1-2">
<div class="dy_kci_block" id="NL_KCI_RIGHT">
<div class="dy_unit dy_smart_object_232946 dyother dyMonitor">
<div class="dy_kci_block" id="dy_4379897"><a href="/koelkasten/koelkasten/koelkast-rvs-600ltr-60mm-isolatie.html"> <img height="271" src="{{media url="wysiwyg/koelkast-polar.jpg"}}" width="476" /> </a>
<div></div>
</div>
</div>
</div>
</div>
</div>
</div>