<div id="brandsbar" class="widget widget-static-block center">
  <ul id="brands" class="m-0">
    <li class="scale-2">
      <a href="/shop?manufacturer=54&amp;cstag=combisteel" title="CombiSteel">
        <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/combisteel.png" width="150" height="47" alt="CombiSteel">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=1800&amp;cstag=emga" title="EMGA">
        <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/emga.png" width="150" height="47" alt="EMGA">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=162&amp;cstag=saro" title="Saro">
        <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/saro.png" width="150" height="47" alt="Saro">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=168&amp;cstag=gram" title="Gram">
        <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/gram.png" width="150" height="47" alt="Gram">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=1292&amp;cstag=diamond" title="Diamond">
        <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/diamond.png" width="150" height="47" alt="Diamond">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=1619&amp;cstag=hendi" title="Hendi">
        <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/hendi.png" width="150" height="47" alt="Hendi">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=1074&amp;cstag=bartscher" title="Bartscher">
        <img loading="lazy" src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/bartscher.png" width="150" height="47" alt="Bartscher">
      </a>
    </li>
  </ul>
</div>
