<div id="brandsbar" class="widget widget-static-block center" style="height: 55px;">
  <ul id="brands" style="margin:0">
    <li class="scale-2">
      <a href="/shop?manufacturer=54&cstag=combisteel" title="CombiSteel">
        <img src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/combisteel.png" width="150" height="47" alt="CombiSteel">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=1800&cstag=emga" title="EMGA">
        <img src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/emga.png" width="150" height="47" alt="EMGA">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=162&cstag=saro" title="Saro">
        <img src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/saro.png" width="150" height="47" alt="Saro">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=168&cstag=gram" title="Gram">
        <img src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/gram.png" width="150" height="47" alt="Gram">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=1292&cstag=diamond" title="Diamond">
        <img src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/diamond.png" width="150" height="47" alt="Diamond">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=1619&cstag=hendi" title="Hendi">
        <img src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/hendi.png" width="150" height="47" alt="Hendi">
      </a>
    </li>
    <li class="scale-2">
      <a href="/shop?manufacturer=1074&cstag=bartscher" title="Bartscher">
        <img src="//images.chefstore.nl/media/wysiwyg/brands/tr:n-logosmall/bartscher.png" width="150" height="47" alt="Bartscher">
      </a>
    </li>
  </ul>
</div>
