<div class="cms-block">
    <div class="row bcm-padding-bottom--3em">
        <div class="col-1-2">
            <div class="dy_kci_block">
                <div class="dy_unit dy_smart_object_232945 dyother dyMonitor">
                    <div class="dy_kci_block">
                        <a href="/pizzeria.html" title="Alles voor de Pizzeria" target="_self"> <img height="271" src="{{media url="wysiwyg/Homepage_pizzeria.jpg"}}" style="border: 1px dotted #ccc;" width="476" /> </a>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-2">
            <div class="dy_kci_block">
                <div class="dy_unit dy_smart_object_232946 dyother dyMonitor">
                    <div class="dy_kci_block">
                        <a href="/bakkerij.html" title="Bekijk ons bakkerij aanbod!" target="_self"> <img height="271" src="{{media url="wysiwyg/Homepage_bakkerij.jpg"}}" style="border: 1px dotted #ccc;" width="476" /> </a>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
