<div class="home_profile" style="width: 912px; float: right;">
<div class="cms-block__cell cms-block__cell--slider bullet-teaser" style="width: 642px; float: left; margin-right: 10px;">
<ul id="content-slider" class="content-slider">
<li>
<h3><a href="/koelkasten/alle-koelkasten/koelkasten/koelkast-rvs-600ltr-60mm-isolatie.html?utm_source=Internal&amp;utm_campaign=frontpage_banner"><img src="{{media url="wysiwyg/koelkast-polar.jpg"}}" alt="Polar CD084" width="652"></a></h3>
</li>
<li>
<h3><a title="Alle Ecofrost Deals op Chefstore.nl" href="/ecofrost"><img title="Ecofrost deals. Beste prijs!" src="{{media url="wysiwyg/Ecofrostdeal-homepageslider.jpg"}}" alt="Ecofrost Deals"></a></h3>
</li>
</ul>
</div>
<div class="homerighttwo" style="width: 260px; float: right; height: 390px;"><a href="/koelkasten/display-koelkasten/gastro_cool.html"><img style="display: block; margin-bottom: 10px;" title="Exquisit displaykoelkasten vanaf ER 399 Chefstore.nl" src="{{media url="wysiwyg/Exquisit_Small_banners.jpg"}}" alt="Exquisit displaykoelkasten" width="260" height="116"></a> <a href="/koelvitrines/opzetvitrines/ecofrost.html"><img style="display: block; margin-bottom: 10px;" src="{{media url="wysiwyg/koelopzet-ecofrost.jpg"}}" width="260" height="116"></a> <a href="/koelkasten/koelkasten/ecofrost.html"><img src="{{media url="wysiwyg/ecobanner_1.jpg"}}" width="260" height="116"></a></div>
</div>