<p><a class="kiyoh-link" href="#" target="_blank"> <img src="https://images.chefstore.nl/skin/frontend/rwd/default/images/logo-kiyoh.png" /> <span class="kiyoh-rating circle"> 9.2</span> <span><strong> 217 </strong> beoordelingen&nbsp;</span></a></p>
<div class="spacer-20"></div>
<div class="kiyoh-reviews visible-md visible-lg">
<div class="review">
<div class="positive">Test from block jongens, wat een fijne aankoopervaring. Weekend een nieuwe wasmachine besteld aan maandag stond hij al te draaien op zolder. Twee potige kerels van bezorgers hadden hem zo boven staan. Ze hebben hem aangesloten en mijn droger er boven opgezet. Zo snel als de nieuwe boven was, was mijn oude wasmachine beneden. Na 18 jaar trouwe dienst afscheid genomen van hem, waarna de jongens hem voor me afvoerde naar zijn laatste rustplaats. De eerste wasjes zijn naar alle tevredenheid gedaan. Hopelijk worden ook wij weer goede maatjes voor vele jaren :-) Bedankt voor de goede service en ik weet voortaan waar ik moet zijn als ik wat nodig heb.</div>
<div class="reviewer">- Maaike uit Rotterdam -</div>
</div>
<div class="review">
<div class="positive">Na slechte ervaringen qua service bij Wehkamp en Mediamarkt, een gekozen voor een wat kleinere speler op internet voor de aanschaf van een nieuwe wasdroger. En ik moet zeggen dat me dit uitstekend is bevallen. De levering was snel en volgens afspraak. Wasdroger netjes geplaatst en aangesloten. Ook bij vragen heb je niet gevoel een "nummer" te zijn, maar wordt er snel en persoonlijk gereageerd. Gelukkig dat dit soort bedrijven ook nog gewoon bestaan. De wasdroger (AEG) doet het fantastisch. Mijn dank!</div>
<div class="reviewer">- T.H. uit Berkel en Rodenrijs -</div>
</div>
</div>
<div class="spacer-20 hidden-xs hidden-sm"></div>
<div class="row">
<div class="col-xs-10">
<div class="seal"><a href="#" rel="nofollow" target="_blank"><img src="/media/wysiwyg/qshop.png" width="90" /></a></div>
</div>
<div class="spacer-10"></div>
</div>
