<div class="leftbranddv">
<div class="header">Meer over Chefstore.nl</div>
<div class="content">
<div class="brand">
<div class="brand_description">
<h4>De filosofie van Chefstore.nl</h4>
<p>Chefstore.nl staat garant voor alleen premium professionele koelingen. Dankzij de jarenlange ervaringen binnen de branche zijn wij in staat om voor alle klanten de beste oplossing te bieden. Of het nu gaat om een koelkast of koelcel bij Chefstore.nl bent u altijd op het juiste adres. Chefstore.nl staat garant voor alleen premium professionele koelingen. Dankzij de jarenlange ervaring binnen de branche zijn wij in staat om voor alle klanten de beste oplossing te bieden. &nbsp;Chefstore heeft een zeer breed productaanbod van koelingen met een uitstekende prijs-kwaliteit verhouding. Of het nu gaat om een koelkast of koelcel bij Chefstore.nl bent u altijd op het juiste adres.</p>
</div>
</div>
<div class="brand_contact">
<div class="image_block">
<div class="logo_block"><a href="#" title="Beko"> <img class="img-responsive" src="{{media url="wysiwyg/small-logo.jpg"}}" /> </a></div>
<div class="contact_block">
<p><strong>De Heer Horeca B.V.</strong><br />Trasmolenlaan 12<br /> 3447GZ&nbsp;&nbsp;Woerden</p>
</div>
</div>
</div>
</div>
</div>