<div class="std info-box-cart-success">
<div class="info-box" style="height: auto; min-height: 190px;">
<div class="info-box-inner" style="max-width: unset;">
<h3>Binnen &eacute;&eacute;n werkdag een offerte voor koop of lease ontvangen?</h3>
<ol>
<li>Gebruik de Offerte of Lease knoppen op de website, de producten komen in een aparte Offerte Winkelmandje te liggen</li>
<li>Zodra u klaar bent, vult u uw gegevens in</li>
<li>Binnen &eacute;&eacute;n werkdag ontvangt u van ons een offerte, maar meestal binnen een paar uur</li>
</ol>
</div>
</div>
</div>
