<div class="std pt-3">
<h2>Hoe werkt leasen?</h2>
<div class="info-box" style="height: auto;">
<div class="info-box-inner" style="max-width: unset;">
<div style="float: right; margin-top: .5em;"><img style="width: 140px; height: auto; float: right;" title="Grenke" src="https://images.chefstore.nl/skin/frontend/rwd/dhh/images/grenke_logo.png" alt="Grenke logo"></div>
<div>
<h3>Voordelig leasen</h3>
<p>Om zorgeloos financieel te leasen werken wij samen met Grenke. Op onze productpagina's staat aangegeven hoeveel leasen kost per dag.</p>
<h3>Goed om te weten:</h3>
<ul class="indented-disc">
<li>Voor <strong>lease</strong> contracten geldt een mininum orderwaarde van &euro;1.000 excl. BTW</li>
<li>Na de leaseperiode kunt u de apparaten overnemen voor een klein bedrag (5% van de nieuwwaarde)</li>
<li>Grenke is in Nederland verkrijgbaar</li>
<li>Bepaalde producten zijn uitgesloten van lease, zoals verbruiksproducten, kleinmateriaal, kleding, etc. U kunt hier uiteraard wel een koopofferte voor aanvragen.</li>
<li>U kunt producten verplaatsen tussen uw Offerte Winkelmandje en uw reguliere Winkelmandje. Hiervoor zijn knoppen aanwezig.</li>
</ul>
</div>
</div>
</div>
</div>
<div class="std pt-1">
<h2>Hoe werkt achteraf betalen?</h2>
<div class="info-box" style="height: auto; background-color: var(--color-light-gray);">
<div class="info-box-inner" style="max-width: unset;">
<div style="float: right; margin-top: .5em;"><img style="width: 155px; height: 53px; float: right;" title="Mondu" src="/media/wysiwyg/two-inc-logo.png" alt="TWO"></div>
<div><strong>Achteraf betalen met TWO:</strong>
<p>Wanneer u hiervoor kiest, zorgt TWO voor het gehele achteraf betalen proces. TWO geeft u de optie om te betalen in <strong>30, 60 of 90 dagen</strong>, of te betalen in <strong>6, 12 of zelfs 24 termijnen</strong>, <strong>zonder limiet</strong>*.</p>
<strong>Goed om te weten:</strong>
<ul class="indented-disc">
<li>Na bevestiging krijgt u van ons een TWO betaallink waarmee u de bestelling kunt voltooien</li>
<li>TWO is alleen in Nederland verkrijgbaar</li>
<li>Als u toch wilt afrekenen met een andere betaalmethode, verplaats de producten dan naar uw reguliere Winkelmandje en reken daar af</li>
</ul>
<p>Deze module gebuikt u voor scherpe combinatie-aanbiedingen, Leasen via Grenke of TWO, of Achteraf Betalen met TWO. Voor afrekenen met iDeal, credit card of andere achteraf betaalmethodes zoals Riverty</p>
</div>
</div>
</div>
</div>