<a class="text-reset d-none" href="/qquoteadv/index/">
  <div id="blackfriday-banner-wrapper-higher">
      <div id="blackfriday-banner-overlay"></div>
      <div id="blackfriday-banner-content-container" class="center p-3">
          <div class="display-2 text-light bold">Deadline 20:00</div>
          <div id="blackfriday-banner-content-rules" class="bg-danger text-light center py-3 px-2 mt-2">
              <div class="strong" style="font-size: clamp(1.1rem, 2.3vw, 2.2rem)">
                  Make me an Offerte I can't refuse
              </div>
              <div class="pt-2" style="font-size: max(0.9rem, min(1vw, 1rem)); line-height: 1.3rem">ACTIE VERLENGD tot MAANDAG 1 dec 17:00. Maak <strong>uw eigen deal</strong>.<br>Vul uw offerte mandje, <strong>ontvang een offerte binnen 1 werkdag</strong> en <em>scoor</em> die deal!</div>
              <div class="strong pt-1"
                  style="font-size: max(0.9rem, min(1vw, 1rem)); text-transform: uppercase; letter-spacing: -0.5px">
                  Maak offerte en ontvang vrijblijvend uw beste Black Friday Deal
              </div>
          </div>
      </div>
  </div>
</a>

<div class="std info-box-cart-success">
  <div class="info-box" style="height: auto; min-height: 190px">
    <div class="info-box-inner" style="max-width: unset">
      <h3>Binnen &eacute;&eacute;n werkdag een offerte voor koop of lease ontvangen?</h3>
      <ol>
        <li>Gebruik de Offerte of Lease knoppen op de website, de producten komen in een aparte Offerte Winkelmandje te liggen</li>
        <li>Zodra u klaar bent, vult u uw gegevens in</li>
        <li>Binnen &eacute;&eacute;n werkdag ontvangt u van ons een offerte, maar meestal binnen een paar uur</li>
      </ol>
    </div>
  </div>
</div>
