<p><span>Coolsteel is leverancier van apparatuur voor zowel huishoudelijk als professioneel gebruik en heeft de vertegenwoordiging in de Benelux en Nordrhein-Westfalen in Duitsland. Onze diensten zijn servicegericht en klantvriendelijk.</span><br /><br /><span>Wij leveren onder meer:</span></p>
<ul>
<li>Koelkasten, vrijstaand, inbouw en professioneel zoals glasdeur, backbars en vitrines</li>
<li>Vrieskasten, vrieskisten, vrijstaand, inbouw en professioneel zoals glasdeur en display</li>
<li>Vaatwassers, wasautomaten en drogers</li>
<li>Wijnklimaatkasten, roestvrijstalen koel-/vriesapparatuur, wandkoelkasten en impuls</li>
</ul>
<p><span>Coolsteel biedt u een ruime keuze uit ons assortiment, een prima prijs kwaliteit verhouding en uiteraard een uitstekende service.&nbsp;</span><br /><br /><span>Kwaliteit staat hoog in het vaandel en ons team van specialisten staat klaar om de service uit te voeren, mocht er onverhoopt iets gebeuren. De service wordt centraal geco&ouml;rdineerd.</span></p>