<?xml version="1.0"?>
<config>
    <modules>
        <Psc_Paysafecash>
            <version>1.0.0</version>
        </Psc_Paysafecash>
    </modules>
    <global>
    	<models>
    		<paysafecash>
	    		<class>Psc_Paysafecash_Model</class>
				<resourceModel>paysafecash_mysql4</resourceModel>
	    	</paysafecash>
         <paysafecash_mysql4>
            <class>Psc_Paysafecash_Model_Mysql4</class>
            <entities>
                <paysafecash><table>paysafecash_data</table></paysafecash>
            </entities>
         </paysafecash_mysql4>
    	</models>
    	<helpers>
    		<paysafecash>
    			<class>Psc_Paysafecash_Helper</class>
    		</paysafecash>
    	</helpers>
    	<blocks>
    		<paysafecash>
    			<class>Psc_Paysafecash_Block</class>
    		</paysafecash>
    	</blocks>
        <resources>
            <paysafecash_setup>
                <setup>
                    <module>Psc_Paysafecash</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </paysafecash_setup>
            <paysafecash_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </paysafecash_write>
            <paysafecash_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </paysafecash_read>
        </resources>
    </global>
	
    <frontend>
        <routers>
            <paysafecash>
                <use>standard</use>
                <args>
                    <module>Psc_Paysafecash</module>
                    <frontName>Paysafecash</frontName>
                </args>
            </paysafecash>
        </routers>
        <translate>
            <modules>
                <Psc_Paysafecash>
                    <files>
                        <default>Psc_Paysafecash.csv</default>
                    </files>
                </Psc_Paysafecash>
            </modules>
        </translate>
		<layout>
            <updates>
                <paysafecash>
                    <file>paysafecash.xml</file>
                </paysafecash>
            </updates>
        </layout>
    </frontend>
	
	<global>
        <blocks>
            <paysafecash>
                <class>Psc_Paysafecash_Block</class>
            </paysafecash>
            <checkout>
                <rewrite>
                    <onepage_success>Psc_Paysafecash_Block_Onepage_Success</onepage_success>
					<onepage_failure>Psc_Paysafecash_Block_Onepage_Failure</onepage_failure>
                </rewrite>
            </checkout>
        </blocks>
    </global>	
	
	<default>
        <payment>
            <cpay>
                <active>0</active>
                <model>paysafecash/cpay</model>
                <title>Paysafecash</title>
				<payment_action>authorize_capture</payment_action>
				<timeout>4320</timeout>
                <Currency>EUR</Currency>
            </cpay>
        </payment>
    </default>
</config>