<?xml version="1.0"?>
<config>
    <modules>
        <Profitmetrics_MagentoIntegration>
            <version>0.0.29</version>
        </Profitmetrics_MagentoIntegration>
    </modules>

    <global>
        <blocks>
            <profitmetrics>
                <class>Profitmetrics_MagentoIntegration_Block</class>
            </profitmetrics>
        </blocks>
        <helpers>
            <profitmetrics>
                <class>Profitmetrics_MagentoIntegration_Helper</class>
            </profitmetrics>
        </helpers>
        <models>
            <profitmetrics>
                <class>Profitmetrics_MagentoIntegration_Model</class>
                <resourceModel>profitmetrics_resource</resourceModel>
            </profitmetrics>
            <profitmetrics_resource>
                <class>Profitmetrics_MagentoIntegration_Model_Resource</class>
                <entities>
                    <tracking>
                        <table>profitmetrics_tracking</table>
                    </tracking>
                </entities>
            </profitmetrics_resource>
        </models>
        <resources>
            <profitmetrics_magentointegration_setup>
                <setup>
                    <module>Profitmetrics_MagentoIntegration</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </profitmetrics_magentointegration_setup>
        </resources>
        <events>
            <sales_order_save_before>
                <observers>
                    <profitmetrics>
                        <class>profitmetrics/observer</class>
                        <method>onSalesOrderSaveBefore</method>
                    </profitmetrics>
                </observers>
            </sales_order_save_before>
        </events>
    </global>

    <crontab>
        <jobs>
            <profitmetrics_products_export>
                <schedule>
                    <cron_expr>0 0 */1 * *</cron_expr>
                </schedule>
                <run>
                    <model>profitmetrics/cron::exportProductData</model>
                </run>
            </profitmetrics_products_export>
            <profitmetrics_orders_send>
                <schedule>
                    <cron_expr>0 0 */1 * *</cron_expr>
                </schedule>
                <run>
                    <model>profitmetrics/cron::sendOrders</model>
                </run>
            </profitmetrics_orders_send>
            <profitmetrics_visitor_clean>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>profitmetrics/cron::visitorClean</model>
                </run>
            </profitmetrics_visitor_clean>
        </jobs>
    </crontab>

    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <profitmetrics>
                        <class>profitmetrics/observer</class>
                        <method>onControllerActionPreDispatch</method>
                    </profitmetrics>
                </observers>
            </controller_action_predispatch>
            <sales_order_load_after>
                <observers>
                    <profitmetrics>
                        <class>profitmetrics/observer</class>
                        <method>onSalesOrderLoadAfter</method>
                    </profitmetrics>
                </observers>
            </sales_order_load_after>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <profitmetrics>
                        <class>profitmetrics/observer</class>
                        <method>onMultishippingSuccessAction</method>
                    </profitmetrics>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <profitmetrics_magentointegration>
                    <file>profitmetrics/magentointegration.xml</file>
                </profitmetrics_magentointegration>
            </updates>
        </layout>
        <routers>
            <profitmetrics>
                <use>standard</use>
                <args>
                    <module>Profitmetrics_MagentoIntegration</module>
                    <frontName>profitmetrics</frontName>
                </args>
            </profitmetrics>
        </routers>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Profitmetrics_Magentointegration after="Mage_Adminhtml">Profitmetrics_MagentoIntegration_Adminhtml</Profitmetrics_Magentointegration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <admin_system_config_changed_section_admin>
                <observers>
                    <bind_locale>
                        <class>adminhtml/system_config_backend_admin_observer</class>
                        <method>afterCustomUrlChanged</method>
                    </bind_locale>
                </observers>
            </admin_system_config_changed_section_admin>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <profitmetrics_core_block_abstract_prepare_layout_before>
                        <type>model</type>
                        <class>profitmetrics/observer_addOrderMassaction</class>
                        <method>addOrdersResendMassAction</method>
                    </profitmetrics_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <layout>
            <updates>
                <profitmetrics_magentointegration>
                    <file>profitmetrics/magentointegration.xml</file>
                </profitmetrics_magentointegration>
            </updates>
        </layout>
        <translate>
            <modules>
                <Profitmetrics_MagentoIntegration>
                    <files>
                        <default>Profitmetrics_MagentoIntegration.csv</default>
                    </files>
                </Profitmetrics_MagentoIntegration>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <profitmetrics translate="title" module="profitmetrics">
                                            <title>Profitmetrics Settings</title>
                                        </profitmetrics>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <profitmetrics>
            <settings>
                <enabled>1</enabled>
                <headless_mode>0</headless_mode>
                <cron_frequency>0 0 */1 * *</cron_frequency>
                <buy_price_attribute>buy_price</buy_price_attribute>
                <configurable_price_source>1</configurable_price_source>
                <feed_filename><![CDATA[products_{{store}}.xml]]></feed_filename>
                <allowed_ips>92.246.21.159,62.138.1.208,78.137.2.106,127.0.0.1</allowed_ips>
                <allowed_ips_url><![CDATA[https://my.profitmetrics.io/_ipaddrs.php?type=feedfetch]]></allowed_ips_url>
                <tracking_code_js></tracking_code_js>
                <buy_price_from_configurable>0</buy_price_from_configurable>
                <weight_multiplier>1</weight_multiplier>
                <conversion_booster_snippet></conversion_booster_snippet>
                <block_script_before_consent>0</block_script_before_consent>
            </settings>
            <order_cron_settings>
                <order_statuses>pending,processing,complete</order_statuses>
                <cron_frequency>*/2 * * * *</cron_frequency>
            </order_cron_settings>
            <advanced>
                <order_send_days>30</order_send_days>
                <order_send_endpoint>live</order_send_endpoint>
                <tracking_data_lifetime>90</tracking_data_lifetime>
                <installation_date></installation_date>
            </advanced>
        </profitmetrics>
    </default>
</config>