<?xml version="1.0"?>
<config>
  <modules>
    <DeHeerHoreca_Fpc>
      <version>0.1.0</version>
    </DeHeerHoreca_Fpc>
  </modules>
  <global>
    <helpers>
      <deheerhoreca_fpc>
        <class>DeHeerHoreca_Fpc_Helper</class>
      </deheerhoreca_fpc>
    </helpers>
    <models>
      <deheerhoreca_fpc>
        <class>DeHeerHoreca_Fpc_Model</class>
      </deheerhoreca_fpc>
    </models>
    <events>
      <catalog_product_save_after>
        <observers>
          <DeHeerHoreca_Fpc_Model_Observer>
            <type>singleton</type>
            <class>deheerhoreca_fpc/observer</class>
            <method>clearProductCache</method>
          </DeHeerHoreca_Fpc_Model_Observer>
        </observers>
      </catalog_product_save_after>
    </events>
  </global>
  <frontend>
    <routers>
      <deheerhoreca_fpc>
        <use>standard</use>
        <args>
          <module>DeHeerHoreca_Fpc</module>
          <frontName>deheerhorecafpc</frontName>
        </args>
      </deheerhoreca_fpc>
    </routers>
    <events>
      <controller_action_predispatch>
        <observers>
          <DeHeerHoreca_Fpc_Model_Observer>
            <type>singleton</type>
            <class>deheerhoreca_fpc/observer</class>
            <method>ServeCachedHTML</method>
          </DeHeerHoreca_Fpc_Model_Observer>
        </observers>
      </controller_action_predispatch>
    </events>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <deheerhoreca_fpc>
          <file>deheerhoreca_fpc/deheerhoreca_fpc.xml</file>
        </deheerhoreca_fpc>
      </updates>
    </layout>
  </adminhtml>
</config>
