#profiler {
  color: #000;
  text-align: left;
  background-color: #fff;
  padding: 10px 20px 50px;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif !important;
}

#profiler h1 {
  text-align: left;
  margin: 20px 0;
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
}

#profiler .caption {
  cursor: pointer;
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 20px;
  display: block;
  overflow: hidden;
}

#profiler .profiler-label > * {
  vertical-align: bottom;
}

#profiler a {
  color: #000;
  text-decoration: none;
}

#profiler li.captions {
  font-weight: bold;
}

#profiler li.captions-line {
  border-bottom: 2px solid #000;
}

#profiler li.captions-line .metric {
  font-size: 25px;
  line-height: 25px;
}

#profiler ul {
  padding: 0;
  list-style: none;
}

#profiler .level-1 ul {
  background-color: #00000008;
  padding-left: 16px;
}

#profiler .captions .info:hover {
  background-color: inherit;
}

#profiler .profiler-column3 {
  float: right;
  text-align: center;
  width: 216px;
  min-height: 1em;
}

#profiler .level-1 > .info .total {
  font-size: 1.2em;
  font-weight: bold;
}

#profiler .collapsed > ul {
  display: none;
}

#profiler .caption em {
  font-size: 10px;
  font-style: italic;
}

#profiler .profiler-open, #profiler .profiler-closed {
  cursor: pointer;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: -11px;
}

#profiler .profiler-closed {
  display: none;
}

#profiler .collapsed > .info .profiler-closed {
  display: block;
}

#profiler .collapsed > .info .profiler-open {
  display: none;
}

#profiler .metric {
  float: left;
  margin-left: 30px;
}

#profiler .info {
  overflow: hidden;
}

#profiler .info:hover {
  background-color: #fad69d;
}

#profiler .selected .info:hover {
  background-color: #f7c26d;
}

#profiler .profiler-label {
  float: left;
  height: 18px;
  padding-left: 4px;
  position: absolute;
}

#profiler .profiler-columns {
  float: right;
}

#profiler .profiler-column {
  float: left;
  text-align: center;
  width: 210px;
  min-height: 1em;
  padding-right: 2px;
}

#profiler #treeView .profiler-label {
  margin-top: 4px;
}

#profiler #treeView .profiler-label * {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

#profiler #expand-all, #profiler #collapse-all {
  font-size: 14px;
  font-weight: normal;
}

#profiler div.progress {
  float: left;
  background: #fff;
  border: 1px solid #ccc;
  width: 200px;
  margin: 2px;
  padding: 1px;
  display: block;
  position: relative;
}

#profiler .info:hover div.progress {
  border-color: #000;
  -webkit-box-shadow: 1px 2px 4px -1px #888;
  -moz-box-shadow: 1px 2px 4px -1px #888;
  box-shadow: 1px 2px 4px -1px #888;
}

#profiler div.progress-bar1, #profiler div.progress-bar2 {
  float: left;
  vertical-align: middle;
  background-color: #f08080;
  height: 15px;
}

#profiler div.progress-bar2 {
  background-color: #add8e6;
}

#profiler div.progress-label {
  font-size: 11px;
  line-height: 11px;
  position: absolute;
  top: 1px;
  left: 2px;
}

#profiler .hint a {
  text-decoration: underline;
}

#profiler .hint-small {
  font-size: 10px;
}

#profiler #treeView li.filtered {
  display: none;
}

#profiler input {
  width: auto;
  margin: auto;
  padding: auto;
}

#profiler font {
  background-color: #ff0;
}

#filter-form .form-block {
  display: table-cell;
}

#duration-filter {
  text-align: center;
  width: 40px;
}

#filter-form button {
  padding: 0 10px;
}

#p-filter {
  cursor: pointer;
  border: 1px solid #000;
  padding: 5px;
  display: inline-block;
}

#p-track {
  background-color: #ccc;
  height: 4px;
  margin: 6px 0;
  position: relative;
}

#p-handle {
  width: 9px;
  height: 22px;
  position: absolute;
  top: -6px;
  left: -3px;
}

#profiler li.selected {
  background-color: #baffba;
}

#profiler .profiler-open {
  background-image: url("../img/button-open.png");
}

#profiler .profiler-closed {
  background-image: url("../img/button-closed.png");
}

#profiler .type-default {
  background-image: url("../img/led-icons/page.png");
}

#profiler .type-db {
  background-image: url("../img/led-icons/database.png");
}

#profiler .type-template {
  background-image: url("../img/led-icons/template.png");
}

#profiler .type-block {
  background-image: url("../img/led-icons/brick.png");
}

#profiler .type-event {
  background-image: url("../img/led-icons/anchor.png");
}

#profiler .type-observer {
  background-image: url("../img/led-icons/pin.png");
}
